= form_for [@startup, @question], :remote => true do |f|
  = f.hidden_field :startup_id

  %p Tweet a question to #{@startup.name}:

  = f.text_area :content, :size => '120x3', :class => 'span5'
  %br/
  100 character limit

  %div{:align => 'center', :style => 'margin-top: 20px'}
    = f.submit 'Submit Question', :class => 'btn btn-success btn-large'