- startup ||= @startup
= semantic_form_for [startup, @question], :remote => true, :html => {:id => 'question_form'} do |f|
  = f.hidden_field :startup_id
  .control-group{error_css(f.object, :startup_id)}
    = f.semantic_errors :startup_id

  .control-group{error_css(f.object, :content)}
    = f.text_field :content, :class => 'span5', :id => 'question_content'
    = f.semantic_errors :content

  %div{:align => 'center', :style => 'margin-top: 20px'}
    = link_to "Ask Question".html_safe, '#', :onclick => "$('#question_form').submit(); return false;", :class => 'btn btn-success btn-large'
    / &nbsp;
    / = f.check_box :tweet
    / Tweet Question
    / = f.semantic_errors :tweet
  :javascript
    $(function() {
      $('#question_content').textareaCount({maxCharacterSize: 90, displayFormat: '#input characters (limit of 90)'});
    });