- @questions.each do |q|
  .row{:id => "question_#{q.id}"}
    .span2.well
      = q.followers_count
      %br/
      Followers
    .span4= h(q.content)
    .span2
      %h3
        .support
          - if q.is_supporter?(current_user)
            Supporter
          - else
            = link_to 'Support', '#', :onclick => "$('#question_#{q.id} .modal').modal('show'); return false;"
    .modal.hide
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
        %h2{:style => 'margin-bottom: 5px'} Support this question
      .modal-body
        %p Show your support by re-tweeting (this will also bump the question up in line):
        %h3= h(q.tweet_content)
      .modal-footer
        %center
          = link_to 'Cancel', '#', :onclick => "$('#question_#{q.id} .modal').modal('hide'); return false;", :class => 'btn'
          &nbsp;&nbsp;
          = link_to 'Support', support_startup_question_path(@startup, q), :method => :post, :remote => true, :class => 'btn btn-large btn-success'
