:plain
  $('.questions').html("#{escape_javascript(render('questions/list'))}");
  $('.question_count').text(#{@questions.size});
  $('.current_question').html("#{escape_javascript(render('questions/current_question', :startup => @startup))}");
-# User just saved new question
- if @created_question.present?
  :plain
    $('.questions_modal').modal('hide');
    var q = $('#question_#{@created_question.id}');
    $("html, body").animate({ scrollTop: q.offset().top }, "slow");
    q.effect("highlight", {color: '#bfebff'}, 3000);
    $('#question_form').replaceWith("#{escape_javascript(render('questions/form'))}");
    $('#questions_tab a:first').tab('show');
- else
  - # Highlight any new questions
  $('.question.unseen').effect("highlight", {color: '#bfebff'}, 3000);

  