%h2 Metrics Dashboard

.row
  .span6
    = render 'investors/chart', :title => 'Checkins', :measurements => @checkin_data, :chart_id => 'checkins_by_week'

  .span6
    = render 'investors/chart', :title => 'Comments', :measurements => @comment_data, :chart_id => 'comments_by_week'

.row
  .span6
    %h3 
    = render 'ratings/bar_chart', :title => '# of Active Teams per Startup', :data => @active_teams_data, :type => 'area', :chart_id => 'active_teams_data', :tooltip_enabled => true, :y_tick_interval => 5

  .span6
    = render 'investors/chart', :title => 'Startups Activated per Week', :measurements => @activation_data, :chart_id => 'activations_by_week'

.row
  .span6
    %h3 Satisfaction
    [ Coming Soon ]

.row
  .span12
    %h3 Retention, by Week
    = render 'ratings/bar_chart', :title => 'Retention: Active Teams by Week', :data => @retention_data, :type => 'area', :chart_id => 'retention_data', :tooltip_enabled => true, :y_tick_interval => 5
