- content_for :subtitle do
  Local nReduce Meetings

%h2 Local nReduce Meetings

%table
  %thead
    %th Location
    %th Start Time
    %th Venue Name
    %th Address
    %th 
  %tbody
    - @meetings.all.each do |m|
      %tr
        %td
          %h3= link_to m.location_name, m
        %td #{m.day_of_week_human} at #{m.start_time}
        %td= m.venue_name
        %td= m.venue_url.blank? ? m.venue_address : link_to(m.venue_address, m.venue_url)
