.row
  .span8
    %h1 It Has Begun!
    %br
    %br
    %h3 Now what?
    %br
    - checkin = @startup.current_checkin
    - if checkin and checkin.completed?
      %h2 1) You completed your checkin this week!
      %p 
        Your team's focus this week is: 
        
      %p Wait until Tuesday at 4pm PST to start next week's check-in.
    - elsif checkin and checkin.submitted?
      %h2 1) You checked in this week!
      %p 
        Your team's focus this week is:
        %strong= checkin.start_focus
        \. #{@checkin_total} teams have also started working.
      %p
        This week's 'after' check-in is available starting on Monday at 4pm PST
        = link_to 'Complete Check-in', '#', :class => 'btn disabled'
    - else
      %h2 1) Post your 1st "Before" video by Wednesday at 12pm PST (GMT -8).
      = link_to 'Do Check-in', new_checkin_path
    %br
    %h2 2) Show up to your weekly meeting.
    (They are awesome!)
    - if current_user.organized_meetings.count > 0
      %p
        %br
        You're an organizer for:
        - current_user.organized_meetings.each do |m| 
          <strong>#{m.location_name}</strong>
          = link_to "Edit Location", "/admin/meetings/#{m.id}/edit", :class => "btn"
    %br
    %br
    - if !@startup.meeting.blank?
      %h4
        %ul
          %li
            Meeting: #{@startup.meeting.location_name}
            = link_to 'change', edit_startup_path
          %li Local Start Time: Tuesdays at #{@startup.meeting.start_time}
          %li Location: #{@startup.meeting.venue_name}
          - unless @startup.meeting.venue_url.blank?
            %li= link_to 'View on Map', @startup.meeting.venue_url
          - if @startup.meeting.organizer.blank?
            %li Organizer: not yet picked
          - else
            %li
              Organizer: 
              = link_to_twitter(@startup.meeting.organizer.twitter, :target => '_blank')
              - unless @startup.meeting.organizer.phone.blank?
                \-
                = @startup.meeting.organizer.phone
              %br
    %br
    %h2 3) #{link_to('Chat online', chat_users_path)} with everyone!
  .span4
    %h3 nReduce Schedule
    %p
      %strong Tuesdays at 4pm PST - Wed 4pm PST
      %br
      Post this week's 'before' check-in. Set your team focus.
    %p Tuesdays - in person weekly meeting.
    %p
      %strong Mondays at 4pm PST - Tue 4pm PST
      %br
      Post this week's 'after' check-in. How did your team do? Check in with your startup groups as well.
- if !@startups_with_videos.blank?
  .row
    .span12
      %br
      %h2
        4) 
        = link_to 'Check out your fellow nReducers', search_startups_path