.control-group{error_css(@user, :name)}
  = f.label :name, 'Your Name', :class => 'control-label'
  .controls
    = f.email_field :name
    = f.semantic_errors :name
.control-group{error_css(@user, :email)}
  = f.label :email, :class => 'control-label'
  .controls
    = f.email_field :email
    = f.semantic_errors :email
.control-group{error_css(@user, :password)}
  = f.label :password, 'New Password', :class => 'control-label'
  .controls
    = f.password_field :password
    = f.semantic_errors :password
.control-group{error_css(@user, :password_confirmation)}
  = f.label :password_confirmation, "Confirm New Password", :class => 'control-label'
  .controls
    = f.password_field :password_confirmation
    = f.semantic_errors :password_confirmation
- unless @user.new_record?
  .control-group{error_css(@user, :current_password)}
    = f.label :current_password, 'What is your current password?', :class => 'control-label'
    .controls
      = f.password_field :current_password
      = f.semantic_errors :current_password
      %p.help-block (we need your current password to confirm your changes)
.control-group
  .controls= f.submit "Save", :class => 'btn btn-large btn-primary'