- unless @omniauth
  .row
    .span3
      %p &nbsp;
    .span6.well{:align => 'center', :style => 'padding: 40px 20px 40px 20px'}
      %h1 nReduce
      %br/
      %p
        %strong An alliance of creators built on accountability and community
      %br/
      %a.btn.btn-large{:href => '/auth/linkedin'}
        = image_tag('linkedin_32.png')
        Sign In With LinkedIn
      &nbsp;&nbsp;
      %a.btn.btn-large{:href => '/auth/twitter'}
        = image_tag('twitter_32.png')
        Sign In With Twitter
    .span3

.row
  .span3
    %p &nbsp;
  .span6
    %div{:align => 'center'}
      %h2 Sign up
    = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
      = render 'devise/registrations/fields', :f => f
    %br/
    %br/
    Already have an account?
    = link_to 'Sign in with your email', new_session_path(:user) + '?s=1'
  .span3
    %p &nbsp;
