- @startups.each do |s|
  - this_startup_url = mini_profile_startup_path(s)
  - logo_path = s.logo_url(:square)
  - owner = (s.id == current_user.startup_id ? true : false)
  .team.span3{:align => 'center'}
    .top{:align => 'center', :onclick => "$.get('#{this_startup_url}'); return false;"}
      .background{:style => "background-image: url('#{logo_path}'); cursor: pointer;"} &nbsp;
      .status
        .progress{:align => 'left'}
          .bar{:style => "width: #{(s.profile_completeness_percent * 100).round}%"}
      .members{:align => 'center'}
        - s.team_members.shuffle.first(3).each do |tm|
          .inline-block{:style => 'margin-left: 4px'}= image_tag(user_avatar_url(tm), :title => tm.name, :style => 'width: 50px; height: 50px;')
    .bottom{:align => 'center'}
      %h3= link_to owner ? 'You' : truncate(s.name, :length => 20), this_startup_url, :target => '_blank', :remote => true
      - unless owner
        = render 'relationships/buttons', :entity => @startup, :connected_with => s, :relationship => @relationships_by_startup[s.id]