.row
  .span3
    %p
  .span6
    .row{:style => 'margin-top: 70px'}
      %h1 nReduce Weekly Schedule
      = image_tag 'week.png'
    .row{:style => 'margin-top: 30px'}
      %h3 1) Every Wednesday teams set a goal and upload a "before" video by 4pm PST (GMT - 7).
      %p Example Before Video:
      <iframe width="420" height="315" src="http://www.youtube.com/embed/ks2n7l9WZi4" frameborder="0" allowfullscreen></iframe>
      %p We believe it is best when teams can come together and decided on a single focus.  We know that this can be difficult, but not doing this can lead to problems in the long term.
      %p Videos should be no more than 30 seconds. They can be screen captures, shot from mobile phones, anything that really documents what you are starting with. It is great if you can narrate it so that people can better understand your current product.
    .row{:style => 'margin-top: 30px'}
      %h3 2) The following Tuesday upload an "after" video by 4pm PST (GMT - 7).
      %p Example After Video:
      <iframe width="420" height="315" src="http://www.youtube.com/embed/xreSEO2I5rI" frameborder="0" allowfullscreen></iframe>
      %p Videos should be no more than 2 minutes. They can be screen captures, shot from mobile phones, anything that really documents what you built, accomplished, or struggled with. It is great if you can narrate it so that people can better understand your process.
    .row{:style => 'margin-top: 70px'}
      %h1 What is the deal with all these videos?
      %p While part of nReduce is setting goals, which could be completed with just entering text, the main point is to create a community of other founders that you are working with. To develop relationships. These are people who are going to help you build your company. You may work with them for a long time. Video enables that type of interaction and the ability to really get to know other founders.  Trust me, after a few weeks you will feel like you have already met your groupmates in person.
    .row{:style => 'margin-top: 70px'}
      %h1 You give feedback to each team you are connected to each Tuesday.
      %p When you do this you accrue a community rating score.  The community rating measures the number of comments you give to each team you are connected to over the past 4 weeks.  As long as you give each team you are connected to one piece of feedback each Tuesday you will have a great score in no time :)
    .row{:style => 'margin-top: 70px'}
      = image_tag 'connecting.png'
      %h1 You connect with other startups.
      %p Connecting with a startup means that you will share your weekly progress with each other.
    .row{:style => 'margin-top: 70px'}
      = image_tag 'sharing.png'
      %h1 You build a group of startups.
      %p As you connect with startups you create your group.
    .row{:style => 'margin-top: 70px'}
      %h1 Your group changes over time.
      %p Startups grow, graduate, die, combine, turn into unicorns, etc.  As that is the case your group will be able to change and grow over time.  You will be introduced to other teams in nReduce each week and you can decide to connect with them. If there is a team in your group that is not contributing, you can remove them.
    .row{:style => 'margin-top: 70px'}
      %h1 Each week you privately share your progress with the startups in your group. 
      %p We recommend 6-8 startups per group, as you are expected to give feedback to each startup in your group each week. 
    .row{:style => 'margin-top: 70px'}
      = image_tag 'privacy.png'
      %h1 nReduce Privacy Policy
      %h3 What is private stays private.
      %h4 nReduce companies will share information with you, and they are trusting that you will keep that information secret.
      %h4 Unless explicitly given permission, you are expected to maintain this confidentiality.
    .row{:style => 'margin-top: 70px'}
      %h1 Mentorship
      %p We show your startup to mentors and they give you feedback.  If they are interested they can offer to mentor you further.  All nReduce mentors are volunteers who like helping startups.
    .row{:style => 'margin-top: 70px'}
      %h1 Investors
      %p We show your startup to investors and they give you feedback.  They can decide to check in with you later on or talk with you today.  If they decide to check in with you later (1 month, 3 months, 6 months) we keep the anonymous. That way they can feel comfortable in giving you candid feedback.  
    .row.center{:style => 'margin-top: 70px'}= image_tag 'nstar_s.png'
    .row{:style => 'margin-top: 70px'}
      %h1 nStar Demo Day
      %p Demo day is designed to highlight the best startups on nReduce.  We determine who is selected by monitoring investor and mentor feedback. If you are selected you will be invited to present at one of our online demo days.
    .row{:style => 'margin-top: 70px'}
      %h1 Who is building nReduce?
      %p Joe and Josh.... Stick around for the Wednesday Q&A session and you will meet us :)  We are two craaazzzyy guys!
    .row{:style => 'margin-top: 70px'}
      %h1 I really like nReduce, how can I help out?
      %p We are always working to improve nReduce so would love feedback on how to make it better. Besides that we really want to help more founders.  That is why we are spending our waking hours building this!  So if you have a few founder friends who might be interested or feel like sending out a tweet or two, any way that you could spread the word would be much appreciated :)
