.weekly_classes
  %center
    %p Welcome to nReduce
    %h1 Meet Your #{@weekly_class.join_time.strftime('%b %d')} Class of Amazing Founders!
    %br/
    %h3 About Your Class
  .row
    .span3
      %h2 Next Steps
      %ul
        %li Grow Your Class
        %li Return to nReduce in #{distance_of_time_in_words_to_now(@weekly_class.join_time)}
        %li You will connect with 8 other startups
        %li #{link_to('Joe', team_path)} will answer questions in real time
        %li Your amazing experience will begin!
    .span6
      - %w(startups users industries countries).each do |e|
        .left
          - if @weekly_class.send("num_#{e}") > @stats.send("max_#{e}")
            YELLOW star
          - else
            Grey star
          %h2{:style => 'font-size: 2.5em'}= @weekly_class.send("num_#{e}")
          %p= e.to_s.titleize
          - if @weekly_class.send("num_#{e}") > @stats.send("max_#{e}")
            nReduce Record!
          - else
            %h3= @stats.send("max_#{e}")
            Previous Record
      .clear
      %br/
      %center
        %h3 Meet Your Classmates

      - @weekly_class.users.each do |u|
        .left.attendee= image_tag(user_avatar_url(u))
      .clear

    .span3
      %h2 Grow Your Class!
      = semantic_form_for @invite, :url => [@startup, @invite] do |f|
        = f.hidden_field :invite_type
        = f.hidden_field :from_id
        = f.hidden_field :weekly_class_id
        .control-group{error_css(f.object, :email)}
          .controls
            = f.text_field :email, :class => "span2", :placeholder => 'awesome@founder.com'
            = f.semantic_errors :email

        .control-group{error_css(f.object, :msg)}
          .controls
            = f.text_area :msg, :size => '80x5', :placeholder => 'your message'
            = f.semantic_errors :msg
              
        = f.submit 'Invite Founder', :class => 'btn btn-large'

      - if @sent_invites.present?
        %h3 Sent Invites
        - @sent_invites.each do |i|
          = i.email
          - if i.to_id.present?
            (Joined)
          - else
            (Not joined yet)

  

