.weekly_classes
  .row{:style => 'margin-top: 20px'}
    .span12
      %center
        %h3 Welcome Team #{@startup.name} to nReduce
        %h1{:style => 'font-size: 4em; margin: 20px 0 30px 0'} Meet Your Class of Amazing Founders!
        %br/
        %h3{:style => 'font-weight: 300'} About Your Class
  .row
    .span3
      %h2 Next Steps
      %ul
        %li To enroll you have to return here on #{@weekly_class.join_time.strftime('%A, %b %d')} at 11AM PST
        %li You will connect with 8 other startups
        %li #{link_to('Joe', team_path)} will answer questions in real time
        %li Your amazing experience will begin!
    .span6
      .stats{:align => 'center'}
        - %w(startups users industries countries).each do |e|
          - record = @weekly_class.send("num_#{e}") > @stats.send("max_#{e}") ? true : false
          .inline-block.stat{:class => record ? 'record' : ''}
            .star
            .number= @weekly_class.send("num_#{e}")
            %p.number_below= e.to_s.titleize
            .previous_record
              - if record
                nReduce Record!
              - else
                %b= @stats.send("max_#{e}")
                %br/
                .pr Previous Record
        .clear

    .span3
      %h2 Grow Your Class!
      = semantic_form_for @invite, :url => [@startup, @invite] do |f|
        = f.hidden_field :invite_type
        = f.hidden_field :from_id
        = f.hidden_field :weekly_class_id
        .control-group{error_css(f.object, :email)}
          .controls
            = f.text_field :email, :class => "span2", :placeholder => 'awesome@founder.com'
            = f.semantic_errors :email

        / .control-group{error_css(f.object, :msg)}
        /   .controls
        /     = f.text_area :msg, :size => '80x5', :placeholder => 'your message'
        /     = f.semantic_errors :msg
              
        = f.submit 'Invite Founder', :class => 'btn btn-large'

      - if @sent_invites.present?
        %h3 Sent Invites
        - @sent_invites.each do |i|
          = i.email
          - if i.to_id.present?
            (Joined)
          - else
            (Not joined yet)


  .row{:style => 'margin-top: 40px; margin-bottom: 50px'}
    .span12
      %center
        %h3 Meet the Other nReducers Joining With You

      %div{:align => 'center', :style => 'margin-top: 20px'}
        - @weekly_class.users.each do |u|
          - img = image_tag(user_avatar_url(u), :style => 'width: 50px; height: 50px')
          .inline-block.attendee= u.linkedin_url.present? ? link_to_external(img, u.linkedin_url) : img
        .clear


  %hr/
  .row.letter{:style => 'margin-top: 30px'}
    .span3
      %p
    .span6
      %h3 What is nReduce?

      %p nReduce is a startup incubator. 
      %p We do not take equity and it is free for startups.
      %p Startups can join any week and can stay in for as long as they would like to.
      %p We accept any startup. 
      %p Successful startups gain attention of investors and earn the ability to demo at our monthly nStar Demo Days.

      %h3 Who is building this?
      %p We are two entrepreneurs who have previously built startups and know how hard it is.



      %p What unites us as a team is that we just really like helping founders better execute on their vision.



      %p Joe helped start #{link_to_external('Bootstrappers Anonymous', 'http://www.bootstrappersanonymous.com/')} - A weekly group for founders who had not raised capital.



      %p Josh was the conductor on the most recent SF #{link_to_external('StartupBus', 'http://www.startupbus.com/')}.





      %h3 How long has this been around?



      %p The first companies started in nReduce on June 4th 2012.





      %h3 How do you make money?



      %p We are currently bootstrapping and plan to offer premium accounts.







      %h3 What do the press say?



      %p
        PandoDaily: 
        = link_to 'nReduce is the Pre Angel List', 'http://pandodaily.com/2012/07/27/virtual-incubator-to-all-nreduce-adds-mentors-and-demo-days-is-it-the-pre-angellist/', :target => '_blank'



      %p
        VentureBeat:
        = link_to 'nReduce Demo Day Recap', 'http://venturebeat.com/2012/09/05/nreduce-demo-day/', :target => '_blank'





      %h3 What about nReduce would help my company?



      %p We give you structure to help you execute better each week. 



      %p We help you connect with other founders to give and receive weekly feedback.



      %p We help you document your ability to execute.



      %p We connect you with mentors.



      %p We help you passively fundraise.



      %p You could get selected to become an nStar.





      %h3 What is your demo day like?



      %p It is on the first Wednesday of the Month at 11am.



      %p Companies are selected by investors. 



      %p Winning companies are designated as nStars.



      %p It is 100% online.  



      %p It is public.



      %p Founders answer questions posed by the community.





      %h3 What does a week look like in nReduce?



      %p On Wednesday before 4pm PST, you set a goal for the week.



      %p On the following Tuesday before 4pm PST, you document your progress for the week and discuss any challenges.





      %h3 What is it like to join?



      %p Every team that joins nReduce does so on Wednesday between 1-2pm PST.



      %p You will receive an email at that time admitting you to nReduce.



      %p Click on the link in that email and you will meet all the other teams joining that day.



      %p Also, Joe will be answering questions in real time.



      %p You will end the day with 8 other startups you are connected to and be off an running.
    .span3
      %p







