.weekly_classes
  .row{:style => 'margin-top: 20px'}
    .span6
      %center
        %h2 Welcome from nReduce Founders
      = render 'demo_day/video_chat'
    .span6
      .current_question
        - unless @current_question.blank?
          = render 'questions/current_question', :no_twitter_follow => true, :startup => @nreduce
  .row
    .span12
      .ask_a_question{:align => 'center'}
        %h2
          Have a question?
          &nbsp;
          = link_to_login "Ask the Founders!".html_safe, '#', :onclick => "$('.questions_modal').modal('show'); $('#question_content').focus(); return false;", :class => 'btn btn-large btn-success'
          &nbsp;
      .profile_completeness= render 'users/profile_completeness', :title => 'Startup Profile', :align => 'center'
  .tabbable
    %ul.nav.nav-tabs
      %li#meet_startups_tab.active
        %a{:href => '#meet_startups', 'data-toggle' => 'tab'} Meet Your Class!
      %li#questions_tab
        %a{:href => '#questions', 'data-toggle' => 'tab'}
          Questions
          %span.badge.badge-warning#question_count= @questions.size
      %li#profile_tab
        %a{:href => '#profile', 'data-toggle' => 'tab'} Your Profile
      %li#startup_profile_tab
        %a{:href => '#startup_profile', 'data-toggle' => 'tab'} Team Profile
    .tab-content
      .tab-pane.active#meet_startups
        - @startups.each do |s|
          - this_startup_url = startup_url(s)
          - logo_path = s.logo_url(:square)
          - owner = s.id == current_user.startup_id ? true : false
          .team.span3{:align => 'center'}
            .top{:align => 'center', :onclick => "window.location = '#{this_startup_url}';"}
              .background{:style => "background-image: url('#{logo_path}'); cursor: pointer;"} &nbsp;
              .status
                .progress{:align => 'left'}
                  .bar{:style => "width: #{(s.profile_completeness_percent * 100).round}%"}
              .members{:align => 'center'}
                - s.team_members.shuffle.first(3).each do |tm|
                  .inline-block{:style => 'margin-left: 4px'}= image_tag(user_avatar_url(tm), :title => tm.name, :style => 'width: 50px; height: 50px;')
            .bottom{:align => 'center'}
              %h3= link_to owner ? 'You' : truncate(s.name, :length => 20), startup_path(s)

      .tab-pane#questions
        .questions
          = render 'questions/list', :no_upvoting => true
      .tab-pane#profile
        = render 'users/ajax_edit'
      .tab-pane#startup_profile
        = render 'startups/ajax_edit'

  .modal.questions_modal.hide
    .modal-header
      %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
      %h2{:style => 'margin-bottom: 5px'} Ask the founders of #{@nreduce.name} a question
    .modal-body
      .question_form
        = render 'questions/form', :startup => @nreduce

      
:plain
  <script type="text/javascript">
  // Start polling for questions
  var lastPolledAt = new Date();

  // can count number of people connected
  // http://www.tokbox.com/opentok/api/tools/js/documentation/api/ConnectionEvent.html

  function loadQuestions(){
    last = lastPolledAt.toISOString();
    $.ajax({
      url: '#{startup_questions_path(@nreduce)}.js?last=' + last,
      dataType: 'script',
      type: 'GET'
    });
    lastPolledAt = new Date();
    setTimeout(function(){
      loadQuestions();
    }, 10000);
  }

  setTimeout(function(){
    // loadQuestions();
  }, 10000);

  </script>







