.weekly_classes
  -# show live video
  - if @in_time_window
    .row{:style => 'margin-top: 20px'}
      .span6
        %center
          %h2 Welcome from nReduce Founders
        = render 'demo_day/video_chat'
      .span5
        .current_question
          - unless @current_question.blank?
            = render 'questions/current_question', :no_twitter_follow => true, :startup => @nreduce
    .row
      .span12
        .ask_a_question{:align => 'center'}
          %h2
            Have a question?
            &nbsp;
            = link_to "Ask the Founders!".html_safe, '#', :onclick => "$('.questions_modal').modal('show'); $('#question_content').focus(); return false;", :class => 'btn btn-large btn-success'
          &nbsp;
    .row
      .span4
        %p
      .span3.profile_completeness{:style => 'margin-top: -40px'}
        = render 'users/profile_completeness', :title => 'Startup Profile', :align => 'center'
      .span5
        %p
  - else
    .row{:style => 'margin-top: 40px'}
      .span12
        %center
          - if @startup.present?
            %h3 Welcome Team #{@startup.name} to nReduce
          - else
            %h3 Welcome to nReduce
          %h1{:style => 'font-size: 4em; margin: 20px 0 30px 0'} Meet Your Class of Amazing Founders!
          %br/
          %h3{:style => 'font-weight: 300'} About Your Class
    .row
      .span3
        %h2 To Join Complete Items by #{@weekly_class.join_time.strftime('%A, %b %d')} at 2PM PST :
        .enter_gate{:style => 'padding-top: 10px'}= render 'weekly_classes/enter_gate'
        %ul
          %li Also, at 1PM PST #{link_to('Joe', team_path)} will answer your questions live in real time
      .span6
        .stats{:align => 'center'}
          - %w(startups users industries countries).each do |e|
            - record = @weekly_class.send("num_#{e}") > @stats.send("max_#{e}") ? true : false
            .inline-block.stat{:class => record ? 'record' : ''}
              .star
              .number= @weekly_class.send("num_#{e}")
              %p.number_below= e.to_s.titleize
              .previous_record
                - if record
                  nReduce Record!
                - else
                  %b= @stats.send("max_#{e}")
                  %br/
                  .pr Previous Record
          .clear
      .span3
        .profile_completeness= render 'users/profile_completeness', :title => 'Startup Profile', :align => 'center'

  .tabbable{:style => 'margin-top: 20px'}
    %ul.nav.nav-tabs
      %li#meet_startups_tab.active
        %a{:href => '#meet_startups', 'data-toggle' => 'tab'} Meet Your Class!
      - if @in_time_window
        %li#questions_tab
          %a{:href => '#questions', 'data-toggle' => 'tab'}
            Questions
            %span.badge.badge-warning.question_count= @questions.size
      %li#profile_tab
        %a{:href => '#profile', 'data-toggle' => 'tab'} #{current_user.name.possessive} Profile
      %li#startup_profile_tab
        %a{:href => '#startup_profile', 'data-toggle' => 'tab'} Team Profile
      %li#tutorial_tab
        %a{:href => '#tutorial', 'data-toggle' => 'tab'} Tutorial
    .tab-content
      .tab-pane.active#meet_startups
        #startup_mini_profile.hide
        #startups
          = render 'weekly_classes/startups_list'
      - if @in_time_window
        .tab-pane#questions
          .questions
            = render 'questions/list', :no_upvoting => true
      .tab-pane#profile
        = render 'users/ajax_edit'
      .tab-pane#startup_profile
        = render 'startups/ajax_edit'
      .tab-pane#tutorial
        = render 'weekly_classes/tutorial'
  - if @in_time_window
    .modal.questions_modal.hide
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
        %h2{:style => 'margin-bottom: 5px'} Ask the founders of #{@nreduce.name} a question
      .modal-body
        .question_form
          = render 'questions/form', :startup => @nreduce

- if @in_time_window
  :plain
    <script type="text/javascript">
    // Start polling for questions
    var lastPolledAt = new Date();

    // can count number of people connected
    // http://www.tokbox.com/opentok/api/tools/js/documentation/api/ConnectionEvent.html

    function updateState(){
      // Don't reload if relationship request modal is open
      if($('.relationship_request.modal :visible').length == 0){
        last = lastPolledAt.toISOString();
        $.ajax({
          url: '#{update_state_weekly_class_path(@weekly_class)}.js?last=' + last,
          dataType: 'script',
          type: 'GET'
        });
        lastPolledAt = new Date();
      }
      setTimeout(function(){
        updateState();
      }, 15000);
    }

    setTimeout(function(){
      updateState();
    }, 15000);

    </script>
