:plain
  $('.profile_completeness').html("#{escape_javascript(render('users/profile_completeness', :title => 'Startup Profile', :align => 'center'))}");
  $('.enter_gate').html("#{escape_javascript(render('weekly_classes/enter_gate'))}");
  $('#startups').html("#{escape_javascript(render('weekly_classes/startups_list'))}");

- unless @questions.blank?
  :plain
    $('.questions').html("#{escape_javascript(render('questions/list'))}");
    $('.question_count').text(#{@questions.size});

- unless @current_question.blank?
  :plain
    $('.current_question').html("#{escape_javascript(render('questions/current_question'))}");
-# User just saved new question
- if @created_question.present?
  :plain
    $('.questions_modal').modal('hide');
    var q = $('#question_#{@created_question.id}');
    $("html, body").animate({ scrollTop: q.offset().top }, "slow");
    q.effect("highlight", {color: '#bfebff'}, 3000);
    $('#question_form').replaceWith("#{escape_javascript(render('questions/form'))}");
    $('#questions_tab a:first').tab('show');
- else
  - # Highlight any new questions
  $('.question.unseen').effect("highlight", {color: '#bfebff'}, 3000);
