= render :partial => 'header'
%h1.h1 #{@invite.from.name} wants you to join nReduce!
%br/
- unless @invite.msg.blank?
  %p #{h(@invite.msg)}
%br
%p Once you accept their invite you can be a part of the nReduce entrepreneurial community of founders who hold each other accountable and provide feedback.
%br/
%h3= link_to "Get Started", accept_invite_url(:id => @invite.code)
= render :partial => 'footer'