Hi #{@user.name},

Just a friendly reminder that your nReduce meeting is happening at #{@meeting.venue_name} at #{@meeting.start_time}.

Venue details:
#{@meeting.venue_address}
Map: #{@meeting.venue_url}

Thanks!
#{@meeting.organizer.name}
Your nReduce Organizer