= render :partial => 'header'
- if @owner
  %h1.h1 You Have Feedback!
- else
  %h1.h1 #{@comment.user.name} responded to you!
%br/
%br/
%strong #{@comment.user.name}
- if @comment.user.roles?(:mentor)
  (your mentor)
- elsif !@comment.user.startup_id.blank?
  of
  %strong Team #{@comment.user.startup.name}
- if @owner
  wrote on your #{@checkin.time_label} check-in:
- elsif @comment.parent.blank? && @comment.parent.user_id == @user.id
  They wrote in response to your comment "#{truncate(@comment.parent.content, :length => 30)}":
- else
  They wrote:
%hr/
%h4.h4 "#{simple_format(h(@comment.content))}"
%br/
%h3= link_to "Respond to #{@comment.user.name}", checkin_url(@checkin)
= render :partial => 'footer'