You Have Feedback!
\n
\n#{@comment.user.name} of Team #{@comment.user.startup.name} wrote on your #{@checkin.time_label} check-in:
\-------------------------------------
"#{h(@comment.content)}"
\-------------------------------------
\nRespond: #{checkin_url(@checkin)}