= render :partial => 'header'
%h1.h1 Team #{@checkin.startup.name}
%br
%h4.h4 Posted their "After" Video
%br
- cc = @user.startup.current_checkin
- if !cc.blank? and cc.completed?
  %h3.h3= link_to 'Give Feedback & Support', startup_checkin_url(:startup_id => @checkin.startup_id, :id => @checkin.id)
- else
  %h4.h4 To view it and post comments...
  %h3.h3= link_to "Post Your Team's \"After\" Video", edit_checkin_url(cc)
  
= render :partial => 'footer'