= render :partial => 'header'
%h1.h1 Message From #{@message.from.name}
%br
%h4.h4 #{simple_format(h("\"#{@message.content}\""))}
%br
%h3.h3= link_to 'Reply', conversation_url(@message.conversation)
= render :partial => 'footer'