= render :partial => 'header'
%h1.h1 Team "#{@startup.name}" has joined nReduce!
%br
%h4.h4 Market: #{@startup.industry_list}
%br
%h4.h4 Location: #{@startup.team_members.map{|tm| tm.location }.uniq.join(', ')}
%br
  - @startup.team_members.each do |tm|
    #{tm.name}: #{tm.email}
    %br/
  %br/
%h3.h3= link_to 'View Startup', startup_url(@startup)
= render :partial => 'footer'