= render :partial => 'header'
%h1.h1 Congratulations!
%br/
- if @connected_with.is_a?(Startup)
  %h4.h4 Team #{@connected_with.name} is now a part of your group.
  %p You will be able to share your progress and support each other in this crazy life of changing the world! 
- else
  %h4.h4 You are now connected to #{@connected_with.name}.
  %p You will be able to give them feedback and support them while they build! 
%br/
%h3= link_to "View #{@connected_with.name.possessive} profile", polymorphic_url(@connected_with)
= render :partial => 'footer'