= render :partial => 'header'
%h1.h1 Meet your new connection!
%br/
%h4.h4 Like you, Team #{@connected_with.name} just joined nReduce, so we've introduced you.
%p You can now share your progress and support each other in this crazy life of changing the world! 
%br/
%h3= link_to "View #{@connected_with.name.possessive} profile", polymorphic_url(@connected_with)
= render :partial => 'footer'