- is_owner = (user_signed_in? and (comment.user_id.to_s == current_user.id.to_s)) ? true : false
= div_for comment do
  .right.controls{:style => 'padding-top: 8px;'}
    -# .left!= render_awesome_button(comment)
    &nbsp;
  .left.pic
    - if !comment.user.external_pic_url.blank?
      - title = comment.user.name + (!comment.user.twitter.blank? ? " - @#{comment.user.twitter}" : '')
      %div= link_to image_tag(comment.user.external_pic_url, :style => 'width: 50px; height: 50px;', :title => title), user_path(:id => comment.user_id)
  .left
    = link_to "#{is_owner ? 'You' : truncate(comment.user.name, :length => 20)}", user_path(:id => comment.user)
    - unless comment.user.startup_id.blank?
      &nbsp;•&nbsp;
      = link_to comment.user.startup.name, startup_path(:id => comment.user.startup.id)
    %span.time= "• #{time_ago_in_words(comment.created_at)} ago"
    - unless comment.awesome_count == 0
      •
      %strong= pluralize(comment.awesome_count, 'awesome')
    •
    = link_to 'Reply', reply_to_comment_path(comment), :remote => true
    - if is_owner
      &nbsp;•&nbsp;
      = link_to 'Edit', edit_comment_path(comment), :remote => true
      &nbsp;•&nbsp;
      %strong= link_to 'x', comment, :method => :delete, :remote => true, :confirm => "Are you sure you want to delete the comment?"
    .content= simple_format(h(comment.content))
  .clear
