- comment ||= form
- cancel_link ||= false
- verb ||= comment.for_post? ? 'Post' : 'Post Comment'
= form_for comment, :remote => true do |f|
  = f.hidden_field :parent_id
  .comment
    .left
      = image_tag user_avatar_url(current_user, :square), :style => 'width: 100px; height: 100px;'
    .left.content{:style => 'padding-left: 10px'}
      = f.hidden_field :checkin_id
      = f.text_area :content, :size => '50x1'
    - verb = 
    .left{:style => 'padding: 11px 0 0 5px;'}= f.submit (comment.new_record? ? verb : 'Update'), :class => 'btn primary', :onclick => "$(this).addClass('disabled');"
    .left{:style => 'padding: 15px 0 0 8px;'}
      - if comment.new_record? and cancel_link
        = link_to 'Cancel', '#', :onclick => "$('#comment_#{comment.parent_id} .new_comment').remove(); return false;"
      - elsif !comment.new_record?
        = link_to 'Cancel', cancel_edit_comment_path(comment), :remote => true
    .clear