- comment ||= form
- cancel_link ||= false
= form_for comment, :remote => true do |f|
  = f.hidden_field :parent_id
  .comment
    .left
      = image_tag user_avatar_url(current_user, :square), :style => 'width: 100px; height: 100px;'
    .left.content{:style => 'padding-left: 20px; padding-top: 35px'}
      = f.hidden_field :checkin_id
      = f.text_area :content, :size => '40x1'
    .left{:style => 'padding: 35px 0 0 10px;'}= f.submit (comment.new_record? ? 'Post Comment' : 'Update'), :class => 'btn btn-info btn-large', :onclick => "$(this).addClass('disabled');"
    .left{:style => 'padding: 45px 0 0 8px;'}
      - if comment.new_record? and cancel_link
        = link_to 'Cancel', '#', :onclick => "$('#comment_#{comment.parent_id} .new_comment').remove(); return false;"
      - elsif !comment.new_record?
        = link_to 'Cancel', cancel_edit_comment_path(comment), :remote => true
    .clear