- if !flash.blank? or @show_sign_in
  - show_sign_in = true
- else
  - show_sign_in = false
- if @show_join
  - show_join = true
- else
  - show_join = false
.row#sign_up{:class => show_join ? '' : 'hide'}
  .span3
    %p &nbsp;
  .span6.well
    .center
      %h2 Sign up
    %br/
    = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
      = render 'devise/registrations/fields', :f => f
  .span3
    %p &nbsp;

.row#sign_in{:class => show_sign_in ? '' : 'hide'}
  .span3
    %p &nbsp;
  .span6.well
    .center
      %h2 Sign in
    %br/
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
      = render 'devise/sessions/fields', :f => f
    %p.center= link_to "Forgot your password?", new_password_path(resource_name)
  .span3
    %p &nbsp;

%p.center= link_to 'Sign in with your email', '#', :class => "sign_in_toggle #{show_sign_in ? 'hide' : ''}"
%p.center= link_to 'Join with your email', '#', :class => 'sign_up_toggle'