- if @show_join
  - show_join = true
  - show_sign_in = false
- else
  - show_join = false
  - show_sign_in = true

.row#sign_up{:class => show_join ? '' : 'hide'}
  .span3
    %p &nbsp;
  .span6.well
    = render 'devise/registrations/sign_up'
  .span3
    %p &nbsp;

.row#sign_in{:class => show_sign_in ? '' : 'hide'}
  .span3
    %p &nbsp;
  .span6.well
    .center
      %h2 Sign in
    %br/
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
      = render 'devise/sessions/fields', :f => f
    %p.center= link_to "Forgot your password?", new_password_path(resource_name)
  .span3
    %p &nbsp;

%p.center= link_to 'Sign in with your email', '#', :class => "sign_in_toggle #{show_sign_in ? 'hide' : ''}"
%p.center= link_to 'Join with your email', sign_up_path