= div_for(conversation) do
  .head
    %h5 #{conversation.participants(current_user.id).map{|u| u.name }.to_sentence}

  .messages_wrapper
    .messages
      - conversation.messages.ordered.each do |m|
        = render 'conversations/message', :message => m

  .reply
    = form_for Message.new(:conversation_id => conversation.id, :from_id => current_user.id), :url => add_message_conversation_path(conversation), :remote => true do |f|
      = f.hidden_field :conversation_id
      = f.hidden_field :from_id
      .new_message_area
        .content= f.text_area :content, :size => '100x3', :class => 'span5', :placeholder => 'Type message here...'
        .span5.button
          .right= f.submit 'Send', :class => 'btn btn-info', :onclick => "$(this).addClass('disabled'); return true;"
        .clear