- @conversation_statuses.each do |cs|
  - conversation = cs.conversation
  - latest_message = @latest_message_by_conversation[conversation.id]
  .details{:class => cs.unread? ? 'new' : '', :rel => url_for(conversation), :id => "conversation_#{conversation.id}_details"}
    .right
      .time= time_for_conversation(conversation.updated_at)
    -# If team to team show startups
    - name = pic = nil
    - if conversation.team_to_team?
      - startup = nil
      - conversation.participant_ids_without(current_user.id).each do |id|
        - if @users_by_id[id].startup_id.present? && @users_by_id[id].startup_id != current_user.startup_id
          - startup = @users_by_id[id].startup
          - pic = startup.logo_url(:small)
          - name = startup.name
    - else
      - user = @users_by_id[conversation.participant_ids_without(current_user.id).first]
      - pic = user.pic_url(:small)
      - name = conversation.participant_ids_without(current_user.id).map{|id| @users_by_id[id].present? ? @users_by_id[id].name : '' }.join(', ')
    .pic.left!= pic.blank ? '&nbsp;' : image_tag(pic)
    .left
      .names= truncate(name, :length => 26)
      .last_message= truncate(latest_message.content, :length => 32)
    .clear
    