= f.fields_for :startup do |s|
  - s.object.checkin_day ||= Startup.default_checkin_day
  .control-group
    = s.label :checkin_day, 'What day do you want to check in?', :class => 'control-label', :style => 'font-size:30px; line-height:45px; padding-top:40px; padding-bottom:25px'
    = s.hidden_field :checkin_day, :id => 'checkin_day'
    .controls
      .btn-group{'data-toggle' => 'buttons-radio'}
        - c = 0
        - Date::DAYNAMES.each do |day|
          %button.btn.btn-large.checkin_day{:type => 'button', 'data-value' => c, :class => s.object.checkin_day == c ? 'active' : ''}= day
          - c += 1

  .control-group
    = s.label :time_zone, 'What is the time zone for your startup?', :class => 'control-label'
    .controls
      = s.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)"