.control-group{error_css(@startup, :name)}
  = f.label :name, "Startup Name", :class => 'control-label'
  .controls
    = f.text_field :name, :class => "span3"
    = f.semantic_errors :name
   
.control-group{error_css(@startup, :name)}
  -# f.label :team_members, "Founders", :class => 'control-label'
  .controls
    %p.help-block
      Enter in email addresses of team members

.control-group{error_css(@startup, :team_size)}
  = f.label :team_size, "# of Team Members", :class => 'control-label'
  .controls
    = f.text_field :team_size, :style => 'width: 30px'
    = f.semantic_errors :team_size
    
.control-group{error_css(@startup, :one_liner)}
  = f.label :one_liner, "One Liner", :class => 'control-label'
  .controls
    = f.text_field :one_liner, :class => "span3 with-placeholder", :placeholder => "ex: Facebook for Kittens"
    = f.semantic_errors :one_liner

.control-group{error_css(@startup, :website_url)}
  = f.label :website_url, "Website", :class => 'control-label'
  .controls
    = f.text_field :website_url, :class => 'span3 with-placeholder', :placeholder => 'http://'
    = f.semantic_errors :website_url
    %span.help-inline.help-danger Optional

.control-group
  = f.label :logo, 'Logo', :class => 'control-label'
  .controls
    = f.file_field :logo
    - if @startup.logo.exists?
      %br
      Current Image:
      = image_tag @startup.logo.url(:thumb)

.control-group{error_css(@startup, :main_contact_id)}
  = f.label :main_contact_id, "Main Contact - this should be checkbox next to team members", :class => 'control-label'
  .controls
    = f.text_field :main_contact_id
    = f.semantic_errors :main_contact_id

.control-group{error_css(@startup, :phone)}
  = f.label :phone, "Phone Number", :class => 'control-label'
  .controls
    = f.text_field :phone, :class => 'span3'
    = f.semantic_errors :phone
    
%hr

.control-group{error_css(@startup, :industry)}
  = f.label :industry, "Industry", :class => 'control-label'
  .controls
    = f.select :industry, Settings.startup_options.industry, :include_blank => true
    = f.semantic_errors :industry

.control-group{error_css(@startup, :growth_model)}
  = f.label :growth_model, "Growth Model", :class => 'control-label'
  .controls
    = f.select :growth_model, Startup.growth_model_select_options, :include_blank => true
    = f.semantic_errors :growth_model
    %p.help-block How will you get customers / users?

.control-group{error_css(@startup, :stage)}
  = f.label :stage, "Stage of Company", :class => 'control-label'
  .controls
    = f.select :stage, Startup.stage_select_options, :include_blank => true
    = f.semantic_errors :stage

.control-group{error_css(@startup, :company_goal)}
  = f.label :company_goal, "Company Goal", :class => 'control-label'
  .controls
    = f.select :company_goal, Startup.company_goal_select_options, :include_blank => true
    = f.semantic_errors :company_goal

%hr
.control-group{error_css(@startup, :meeting_id)}
  = f.label :meeting_id, "Where is your<br>team located?".html_safe, :class => 'control-label'
  .controls
    = f.select :meeting_id, Meeting.select_options, :include_blank => true
    = f.semantic_errors :location_id
    .row
      .span5
        %p.help-block
          We're looking to put together in-person dinners in the major startup hubs. If you are close enough to one of these hubs, choose it from this list. If your location is not on the list, choose "other" and enter it below.
