.startup
  .headline
    .left.name
      %h2= @startup.name
    .left.details
      %h2= @startup.one_liner
      - unless @startup.website_url.blank?
        = link_to @startup.website_url, external_url(@startup.website_url), :target => '_blank'
      - industries = @startup.industry_list
      - unless industries.blank?
        = industries.size == 1 ? 'Industry: ' : 'Industries: '
        = industries.join(', ')
    .clear
  .left.video
    - vid_url = Youtube.embed_url(@startup.pitch_video_url)
    - if vid_url.blank?
      [ no pitch video ]
    - else
      %iframe{:width => '500', :height => '315', :src => vid_url, :frameborder => 0, :allowfullscreen => true}
  .left.checkin_history
    %p Checkins
    - @checkin_history.each do |status|
      .left.checkin{:class => status.first == true ? 'done' : ''} &nbsp;
      .left.checkin{:class => status.last == true ? 'done' : ''} &nbsp;
      .clear
  .left
    - unless @instrument.blank?
      = render 'investors/chart'

    - unless @screenshots.blank?
      %h3 Product Screenshots

      - c = 0
      - @screenshots.each do |s|
        .screenshot.screenshot_modal.left{'data-id' => c}= link_to image_tag(s.image_url(:small)), '#'
        - c += 1
      .clear

      #screenshots_modal.modal.hide
        .modal-body
          #screenshots_carousel.carousel.slide
            .carousel-inner
              - c = 0
              - @screenshots.each do |s|
                .item{:class => c == 0 ? 'active' : ''}= image_tag s.image_url
                - c += 1
            %a.carousel-control.left{:href => '#screenshots_carousel', 'data-slide' => 'prev'} &lsaquo;
            %a.carousel-control.right{:href => '#screenshots_carousel', 'data-slide' => 'next'} &rsaquo;
    %h3 Business Model
    = simple_format(h(@startup.business_model))

    %p
      %strong Market Size:
      $#{@startup.market_size}
      %i (self reported)
    %p
      %strong Date Founded:
      #{@startup.founding_date.strftime('%B %d, %Y')}

  .clear

  .team_members
    - @startup.team_members.each do |team_member|
      .team_member.left
        .top
          - if !team_member.intro_video_url.blank?
            %iframe{:width => '225', :height => '160', :src => Youtube.embed_url(team_member.intro_video_url), :frameborder => 0, :allowfullscreen => true}
          - else
            = link_to(image_tag(user_avatar_url(team_member)), team_member)
        .bottom
          %h4
            = link_to team_member.name, team_member
            - unless team_member.linkedin_url.blank?
              &nbsp;
              = link_to image_tag('linkedin_32.png'), external_url(team_member.linkedin_url), :target => '_blank'
          %p
            %small
              Skills: #{team_member.skill_list}
              %br/
              Located: #{team_member.location}
    .clear
    %hr/