- hide_title ||= false
- if can? :manage, Invite.new(:startup => @startup)
  - unless hide_title
    %h4 Add Team Member, Mentor or Investor
  %p{:style => 'margin: 5px 0 10px 0;'}
    Team members will get full access to post and view checkins, and participate in nReduce.
    %br/
    Mentors and investors will be able to view and comment on all of your checkins.
    %br/
    %br/
  = form_for Invite.new(:startup_id => @startup.id, :from_id => current_user.id, :weekly_class_id => current_user.weekly_class_id), :url => startup_invites_path(@startup), :html => {:class => 'form-inline'} do |f|
    = f.hidden_field :startup_id
    = f.hidden_field :from_id
    =# f.hidden_field :weekly_class_id
    %div{:style => 'margin-bottom: 5px'}
      - Invite.available_types.each do |id, name|
        = f.radio_button :invite_type, id
        = label_tag name
        &nbsp;
    = f.text_field :email, :placeholder => 'email address', :class => 'span3'
    = submit_tag 'Invite', :class => "btn #{@setup ? 'btn-large btn-primary' : ''}"
  - pending_invites = @startup.invites.not_accepted.all
  - if pending_invites.size > 0
    %br/
    %h4
      %strong Pending invites
    %ul
    - @startup.invites.not_accepted.each do |i|
      %li
        = "#{i.to_name} (#{Invite.types[i.invite_type].titleize})"
        = link_to '<i class="icon icon-remove"></i>'.html_safe, invite_path(i), :method => :delete, :confirm => "Are you sure you want to cancel the invite to #{i.to_name}?"
