- @num_checkins ||= @startup.checkins.count
- @num_awesomes ||= @startup.awesomes.count
.row
  .span12{:style => 'padding: 0'}
    .row{:style => 'padding-top: 0px'}
      .span6.center
        - vid_url = Youtube.embed_url(@startup.intro_video_url)
        - if vid_url.blank?
          [ no intro video ]
        - else
          %iframe{:width => '500', :height => '376', :src => vid_url, :frameborder => 0, :allowfullscreen => true}
      .span4
        %p
          %small Startup:
        %h1{:style => 'font-size: 50px'}= h(@startup.name)
        - unless @startup.one_liner.blank?
          %p{:style => 'padding-top: 20px'}
            %small Oneliner:
          %h3= h(@startup.one_liner)

        - unless @startup.website_url.blank?
          %p{:style => 'padding-top: 20px'}
            %small Website:
          %h3= link_to_external @startup.website_url_to_uri.hostname, @startup.website_url
          %p{:style => 'padding-top: 20px'}
            %small Industry:
          %h3 #{h(@startup.industry_list)}
      .span2.greylink
        .row.center
          %p{:style => 'padding-top: 20px'}
            != rating_link(@startup)
          %p{:style => 'padding-top: 20px'}
            %span
              %h1 #{@num_checkins}
              = link_to 'Weeks Worked', community_guidelines_path
          %p{:style => 'padding-top: 20px'}
            %span 
              %h1 #{@num_awesomes}
              = link_to 'Awesomes', community_guidelines_path
%br/
%br/
.row
  .span12
    %p
      %small Elevator Pitch
    %hr/
    %h4= simple_format(h(@startup.elevator_pitch))

.row
  .span12
    %h4
      %small Team #{h(@startup.name)}
    %hr
    %br
.row
  .span12
    = render 'startups/team_members', :team_members => @startup.team_members, :add_team_member => user_signed_in? && (@startup.id == current_user.startup_id ? true : false)
    %hr
    %br
- mentors = @startup.connected_to('User')
- if mentors.size > 0
  .row
    .span12
      %hr
      %br
      %h4
        %small #{h(@startup.name).possessive} Mentors
      %br/
      %hr
      %br/
  .row
    .span12
      = render 'startups/team_members', :team_members => mentors
      %hr
      %br