- content_for :subtitle do
  Edit your startup

%h2 Edit your Startup

.row
  .span8
    = semantic_form_for @startup, :url => '/startup/', :html => {:class => "form-horizontal", :multipart => true} do |f|

      = render "startups/fields", :f => f

      .form-actions
        = f.submit "Save", :class => "btn btn-primary btn-large"
  .span4
    %h4 Add Team Member
    %p{:style => 'margin: 5px 0 0 0;'} They will get full access to post and view checkins, and participate in nReduce.
    %br/
    = form_for Invite.new(:startup_id => @startup.id, :from_id => current_user.id), :html => {:class => 'form-inline'} do |f|
      = f.hidden_field :startup_id
      = f.hidden_field :from_id
      = f.text_field :email, :placeholder => 'email address', :class => 'span3'
      = submit_tag 'Invite', :class => 'btn'
    - pending_invites = @startup.invites.not_accepted.all
    - if pending_invites.size > 0
      %br/
      %h4 Pending Team Members
      %ul
      - @startup.invites.not_accepted.each do |i|
        %li
          = i.email
          = link_to '<i class="icon icon-remove"></i>'.html_safe, invite_path(i), :method => :delete, :confirm => "Are you sure you want to cancel the invite to #{i.email}?"

