- content_for :subtitle do
  Edit your startup

.row
  .span8
    %h2 Edit your Startup

    = semantic_form_for @startup, :url => '/startup/', :html => {:class => "form-horizontal", :multipart => true} do |f|
      - if @setup
        .control-group{:style => 'padding-top: 0'}
          &nbsp;
          .controls
            %strong All fields are required unless noted
      = render "startups/fields", :f => f
      .form-actions
        = f.submit "Save", :class => "btn btn-primary btn-large"
  - unless @setup
    .span4
      = render 'users/profile_completeness', :title => 'Startup Profile'
      = render 'startups/invite_team_members'
