.startups
  .search
    .row
      .span6.offset1
        = form_tag search_startups_path do
          .left
            %h4 Search Startups by Location:
          .left
            = text_field_tag 'search', @search
            = submit_tag 'Search', :class => 'btn'
          .clear
      .span1.offset2.center
        .legend Community Rating
      .span1.center
        .legend Weeks Worked
    %hr/

    - @users.each do |u|
      - startup = @startups_by_id[u.startup_id]
      .startup{:id => "startup_#{startup.id}"}
        .row
          .span3.offset1
            .left.startup_logo= link_to image_tag(startup.logo_url(:small), :style => 'width: 50px; height: 50px'), startup
            .left.name
              %h3= link_to startup.name, startup
            .clear
            .team_members
              - startup.team_members.each do |tm|
                .left= image_tag(user_avatar_url(tm), :style => 'width: 50px; height: 50px', :title => tm.name)
              .clear
          .span5
            %p.location
              - industry_list = startup.industry_list
              - if u.location.present?
                = u.location
                - if industry_list.present?
                  &nbsp;•&nbsp;
              - if industry_list.present?
                = industry_list.first(3).join(', ')
            %p.one_liner= startup.one_liner
          .span1
            .rating.center
              - if startup.rating.present?
                %h4= startup.rating.round(2)
          .span1
            .weeks_worked.center
              - if @num_checkins_by_startup[startup.id].present?
                %h4= @num_checkins_by_startup[startup.id]
        .row
          .span10.offset1.borderline

    .center
      = will_paginate @users
