= will_paginate @users

- @users.each do |u|
  - startup = @startups_by_id[u.startup_id]
  .row{:id => "startup_#{startup.id}"}
    .span1
      %p &nbsp;
    .span3
      = link_to image_tag(startup.logo_url(:square)), startup
    .span5
      %h3
        = link_to startup.name, startup
        - unless startup.website_url.blank?
          %small
            \-
            #{link_to(startup.website_url, startup.website_url, :target => '_blank', :style => 'color: #999')}
      %h4= startup.one_liner
      %p #{u.location}
      .row
        .span2
          %p
            Team:
            %br
            - startup.team_members.each do |tm|
              .left{:style => 'margin: 0 5px 5px 0'}= image_tag(user_avatar_url(tm), :style => 'width: 50px; height: 50px', :title => tm.name)
            .clear
        .span3
          %p
            Industries: #{startup.industry_list.join(', ')}
    .span3
      / - unless @entity.blank?
      /   = render 'relationships/buttons', :entity => @entity, :connected_with => s
      / .well.community_status
      /   != rating_link(s, true)

= will_paginate @users
