- title = @owner ? "Your Startup: #{@startup.name}" : @startup.name

- content_for :subtitle do
  = title

.row
  .span8
    %h2= title
  .span4
    - if @owner
      .actions
        = link_to "Edit Startup", "/startup/edit", :class => "btn"

%hr

- vid_url = Youtube.embed_url(@startup.intro_video_url)
- unless vid_url.blank?
  %iframe{:width => '500', :height => '315', :src => vid_url, :frameborder => 0, :allowfullscreen => true}

.row
  .span8
    %h3 Team Members
    %ul
      - @startup.team_members.each do |team_member|
        %li= team_member.name

