- content_for :subtitle do
  = @startup.name

.row
  .span8
    %h1
      %small Team
  .span4{:align => 'right'}
    - if @owner
      = link_to "Edit Startup", "/startup/edit", :class => "btn"
    - elsif user_signed_in?
      = relationship_button_for(@current_startup, @startup, @relationship)

%hr/
%br/
.row
  .span12.well
    .row
      .span3
        - vid_url = Youtube.embed_url(@startup.intro_video_url)
        - if vid_url.blank?
          [ no intro video ]
        - else
          %iframe{:width => '250', :height => '188', :src => vid_url, :frameborder => 0, :allowfullscreen => true}
      .span5
        %h1= h(@startup.name)
        - unless @startup.one_liner.blank?
          %h3= h(@startup.one_liner)
        - unless @startup.website_url_to_uri.blank?
          %h3
            %small= link_to @startup.website_url_to_uri.hostname, @startup.website_url, :target => '_blank'
        .row
          .span2
            - unless @startup.company_goal.blank?
              %p
                %small Goal: #{Startup.company_goals[@startup.company_goal.to_i]}
            %p
              %small Industry: #{h(@startup.industry_list)}
            %p
              Checkins:
              %span.badge.badge-warning #{@num_checkins}
          .span2
            - unless @startup.stage.blank?
              %p
                %small Idea Stage: #{Startup.stages[@startup.stage.to_i]}
            - unless @startup.growth_model.blank?
              %p
                %small Growth Model: #{Startup.growth_models[@startup.growth_model.to_i]}
            %p
              Awesomes:
              %span.badge.badge-warning #{@num_awesomes}
      .span3
        != rating_link(@startup)
        %p
          %small Elevator Pitch
        %p= simple_format(h(@startup.elevator_pitch))
  
.row
  .span12
    %h4
      %small Team #{h(@startup.name)}:
    %hr
    %br
.row
  .span12
    = render 'startups/team_members', :team_members => @startup.team_members, :add_team_member => (@startup.id == current_user.startup_id ? true : false)
    %hr
    %br
- if !@can_view_checkin_details
  .row{:id => "startup_#{@startup.id}"}
    .span12
      %br/
      .relationship{:align => 'center'}
        %h3 #{h(@startup.name.possessive)} check-ins are private. To get permission to see them:
        %br/
        = button_to 'Ask to join their group', relationships_path(:startup_id => @startup.id), :class => 'btn btn-large btn-info', :remote => true
- else
  .row
    .span12{:align => 'center'}
      %hr/
      %h2
        %small Team #{h(@startup.name).possessive} Progress
      %hr
      %br
      - if @checkins.size == 0
        %p
          %strong They haven't made any check-ins yet.
  - @checkins.each do |c|
    .row
      .span3
        %h3 Week of #{c.time_label}
        %p 
          %small Goal:
        %p= simple_format(truncate(h(c.start_focus), :length => 150))
      .span3
        %p
          %small Before Video :
        - if c.start_video_url.blank?
          = image_tag('novideo_s.png')
        - else
          %iframe{:width => 250, :height => 188, :src => Youtube.embed_url(c.start_video_url), :frameborder => 0, :allowfullscreen => true}
      .span3
        %p
          %small After Video :
        - if c.end_video_url.blank?
          = image_tag('novideo_s.png')
        - else
          %iframe{:width => 250, :height => 188, :src => Youtube.embed_url(c.end_video_url), :frameborder => 0, :allowfullscreen => true}
      .span3
        %p
          %small Accomplished :
        %p= simple_format(truncate(h(c.end_comments), :length => 150))
        - if c.awesome_count > 0
          %p
            Awesomes
            %span.badge.badge-warning= c.awesome_count
        - if c.comment_count > 0
          %p
            Comments
            %span.badge= c.comment_count
        %p= link_to 'View Discussion', [@startup, c], :class => 'btn'





