- content_for :subtitle do
  = @startup.name

.row
  .span8
    %h1
      %small Team
  .span4{:align => 'right'}
    - if @owner
      = link_to "Edit Startup", "/startup/edit", :class => "btn"
    - elsif !@entity.blank?
      = render 'relationships/buttons', :entity => @entity, :connected_with => @startup, :relationship => @relationship.present? ? @relationship : @pending_relationship

%hr/
%br/

= render 'startups/profile'

- if !@can_view_checkin_details and !@entity.blank?
  .row{:id => "startup_#{@startup.id}"}
    .span12
      %br/
      %div{:align => 'center'}
        %h3 #{h(@startup.name.possessive)} check-ins are private. To get permission to see them:
        %br/
        = render 'relationships/buttons', :entity => @entity, :connected_with => @startup, :relationship => @relationship.present? ? @relationship : @pending_relationship
- else
  = render 'checkins_list'




