- relationship ||= nil
.relationship
  - form_id = "relationship_#{connected_with.obj_str}"
  %div{:id => "#{form_id}_details"}
    - if (!relationship.blank? and relationship.approved?) #|| entity.connected_to?(connected_with)
      - if !relationship.blank?
        = link_to 'Remove Connection'.html_safe, reject_relationship_path(:id => relationship.id), :method => :post, :confirm => "Are you sure you want to remove #{connected_with.name} as a connection?", :remote => true, :style => 'color: #777'
      - else
        = link_to 'View Profile', connected_with, :class => 'btn', :style => 'margin-bottom: 12px'
    - elsif !relationship.blank? and relationship.pending?
      / This is the person being requested
      - if relationship.connected_with == entity
        = link_to 'Not Now'.html_safe, reject_relationship_path(relationship), :class => 'btn', :method => :post, :remote => true
        &nbsp;&nbsp;
        = link_to '<i class="icon-ok icon-white"></i> Accept Connection'.html_safe, approve_relationship_path(relationship), :class => 'btn btn-success', :method => :post, :remote => true
      - else # This is the person who initiated
        = link_to '<i class="icon-remove"></i> Cancel Connection Request'.html_safe, reject_relationship_path(relationship), :class => 'btn', :method => :post, :remote => true
    - elsif !relationship.blank? and relationship.suggested?
      /= link_to '<i class="icon-refresh"></i> Pass'.html_safe, reject_relationship_path(relationship), :class => 'btn btn-large', :method => :post
      /&nbsp;&nbsp;
      = link_to '<i class="icon-ok icon-white"></i> Connect'.html_safe, '#', :onclick => "$('##{form_id}').modal(); return false;", :class => 'btn btn-success'
    - elsif user_signed_in? # and Relationship.can_connect?(entity, connected_with)
      = link_to('Connect', '#', :onclick => "$('##{form_id}').modal(); return false;", :class => 'btn btn-info')
    - relationship ||= Relationship.new(:entity => entity, :connected_with => connected_with)
    / Clear out message if it's a suggested relationship
    - relationship.message = nil if relationship && relationship.suggested?
  = render 'relationships/request_modal', :relationship => relationship, :form_id => form_id, :connected_with => connected_with, :entity => entity