-# required vars to pass in: form_id, relationship
-# optional: entity, connected_with
- entity ||= relationship.entity
- connected_with ||= relationship.connected_with
- not_remote ||= false
.modal.relationship_request.hide{:id => form_id, :align => 'left'}
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
    %h3 Connect with #{connected_with.name}
  .modal-body
    = form_for relationship, :url => (relationship.new_record? ? {:controller => :relationships, :action => :create} : approve_relationship_path(relationship)), :remote => not_remote ? false : true, :html => {:id => form_id, :class => 'form-horizontal', :method => :post} do |f|
      = f.hidden_field :entity_id
      = f.hidden_field :entity_type
      = f.hidden_field :connected_with_id
      = f.hidden_field :connected_with_type
      - unless relationship.context.blank?
        = hidden_field_tag 'relationship[context]', relationship.context.first.to_s
      %p Please write a quick message and say hello, and why you are excited about connecting with them.
      = f.text_area :message, :size => '120x5', :class => 'span4'
      %br/
      %br/
      = f.submit 'Invite to Connect', :class => 'btn btn-info btn-large'