- checkins_by_startups ||= []
- teams.each do |s|
  - current_checkin = checkins_by_startup[s.id]
  - this_startup_url = (current_checkin and current_checkin.completed?) ? latest_startup_checkins_url(s) : startup_url(s)
  - logo_path = s.logo_url(:square)
  - owner = (!current_user.startup_id.blank? && (s.id == current_user.startup_id))
  .team.span3{:align => 'center'}
    .top{:align => 'center', :onclick => "window.location = '#{this_startup_url}';"}
      .background{:style => "background-image: url('#{logo_path}'); cursor: pointer;"} &nbsp;
      .status.btn-group{:align => 'center', 'data-toggle' => 'buttons-checkbox'}
        %button.btn{:href => '#', :class => ((current_checkin and current_checkin.submitted?) ? 'btn-success' : 'disabled active')} Before
        %button.btn{:href => '#', :class => ((current_checkin and current_checkin.completed?) ? 'btn-success' : 'disabled active')} After
      .members{:align => 'center'}
        - s.team_members.shuffle.first(3).each do |tm|
          .inline-block{:style => 'margin-left: 4px'}= image_tag(user_avatar_url(tm), :title => tm.name, :style => 'width: 50px; height: 50px;')
    .bottom{:align => 'center'}
      %h3= link_to owner ? 'You' : truncate(s.name, :length => 20), startup_path(s)
      - if current_checkin and current_checkin.completed?
        - if owner
          = link_to 'Respond to Feedback', latest_startup_checkins_path(s), :class => 'btn btn-success'
        - elsif @commented_on_checkin_ids.include?(current_checkin.id)
          = link_to '<i class="icon icon-ok"></i> Feedback Given'.html_safe, latest_startup_checkins_path(s), :class => 'btn'
        - else
          = link_to 'Give Feedback', latest_startup_checkins_path(s), :class => 'btn btn-success'
        %p
          %small
            &nbsp;
            - if current_checkin.awesome_count > 0
              = pluralize(current_checkin.awesome_count, 'awesome')
            - if current_checkin.awesome_count > 0 and current_checkin.comment_count > 0
              &nbsp;-&nbsp;
            - if current_checkin.comment_count > 0
              = pluralize(current_checkin.comment_count, 'comment')
            &nbsp;
      - if !owner and (current_checkin.blank? or (current_checkin and !current_checkin.completed?))
        = form_for Nudge.new(:startup_id => s.id), :html => {:id => "new_nudge_#{s.id}"} do |f|
          = f.hidden_field :startup_id
          = link_to '<i class="icon-hand-left icon"></i> Nudge'.html_safe, '#', :title => "Nudge #{s.name} to complete their check-in with an email!", :onclick => "$('#new_nudge_#{s.id}').submit();", :class => 'btn'