- content_for :subtitle do
  Add Teams

= render 'startups/invite_modal'
- if @checkin_completed == true
  #checkin_completed.modal.hide
    .modal-body.center{:align => 'center'}
      - if @number_of_consecutive_checkins > 1
        %p You have completed #{@number_of_consecutive_checkins} consecutive checkins.
      - else
        %p You have completed your checkin.
      .right{:style => 'margin-right: -15px'}= image_tag 'hand_silhouette.png', :width => 270, :height => 220
      .right{:style => 'width: 250px; height: 270px; position: relative;'}
        %div{:style => 'position: absolute; top: 30%; right: 30%; height: 270px;'}
          %h2{:style => 'font-size: 50px; line-height: 50px'}
            Way to
            %br/
            do it!
      
      .clear

      %h3{:style => 'color: #666'} Check out some other teams that have been active this week
      %br/
      %a.btn.btn-success.btn-large{:href => '#', 'data-dismiss' => 'modal'} View Teams
  :javascript
    $('#checkin_completed').modal();


.relationships
  / .row
  /   .span4= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, relationships_path, :class => 'btn btn-large'
  /   .span3{:align => 'center'}
  /     %h2 
  /       %small Add Teams
  /   .span5{:align => 'right'}
  /     = form_for Invite.new, :url => invite_with_confirm_startups_path, :remote => true, :html => { :class => 'form-inline invite_form' } do |f|
  /       %p Search by Startup Name
  /       = text_field_tag 'startup_name', '', :placeholder => 'Startup Name', :class => 'startups-autocomplete'
  /       = f.submit 'Search'.html_safe, :class => 'btn'
  / %hr/
  / %br/

  .relationship_request
    .header
      .row
        .span10
          - if @relationship.pending?
            %h4 Connection Request from #{@relationship.entity.team_members.map{|u| u.name }.join(', ')} of Team #{@relationship.entity.name}:
            - if @relationship.message.present?
              .message= simple_format(h("\"#{@relationship.message}\""))
          - else
            %h4 Suggested Connection:
        .span2{:align => 'right'}
          = link_to 'Approve & Next <i class="icon-arrow-right icon-white"></i>'.html_safe, approve_relationship_path(@relationship), :method => :post, :class => 'btn btn-large btn-success'
          %br/
          = link_to 'Next <i class="icon-arrow-right"></i>'.html_safe, reject_relationship_path(@relationship), :method => :post, :class => 'btn btn-large'
      %hr/
      .row
        .span12
          .startup
            .inline-block
              = image_tag @relationship.entity.logo_url(:square)
              .name= @relationship.entity.name
              .one_liner= @relationship.entity.one_liner


            - @relationship.entity.team_members.shuffle.first(3).each do |tm|
              .team_member.inline-block{:style => 'margin-left: 4px'}
                = image_tag(user_avatar_url(tm), :title => tm.name, :style => 'width: 50px; height: 50px;')
                .name= h(tm.name)
                - unless tm.location.blank?
                  .location= h(tm.location)
                = render 'users/profile_icons', :user => tm
            .clear

          - if @relationship.entity.website_url.present? && @startup.website_url_to_uri.present?
            %center
              = link_to_external "#{@relationship.entity.name.possessive} Website", @startup.website_url, :source => 'add_teams'
            %iframe.iframe{:width => 900, :height => 600, :frameborder => 0, :src => @startup.website_url}
