- content_for :subtitle do
  Work Room

%h1.hide Work Room

- if current_user.entrepreneur? && current_user.startup_id.present?
  = render 'startups/countdown_and_checkin', :startup => current_user.startup

.relationships
  .row
    .wkrheader
      .span6
        .wkrtitle Your Group
        %hr/
        .feed
          - @startups.each do |s|
            - checkin = @checkins_by_startup[s.id]
            - next if checkin.blank?
            - owner = (@startup && (s.id == @startup.id)) ? true : false
            .item.checkin
              .header
                .right.time= time_for_conversation(checkin.completed_at.present? ? checkin.completed_at : checkin.updated_at)
                .left
                  .team_name Team #{s.name}
                  .left.pics
                    = image_tag s.logo_url(:small)
                    - if @users_by_startup_id[s.id].present?
                      - @users_by_startup_id[s.id].shuffle.each do |tm|
                        = image_tag(user_avatar_url(tm), :title => tm.name)
                  .left.headline
                    %h4
                      Team #{s.name}
                      - if checkin.accomplished?
                        Accomplished Their Goal!
                      - else
                        Posted Their Progress
                  .clear
                .clear
              .body
                .left.video= display_checkin_video(checkin, :video, false, 320, 193).html_safe
                .left.goals
                  .goal_wrapper
                    %p This Week's Goal
                    .left.goal_state= image_tag checkin.accomplished? ? 'goal_accomplished.png' : 'goal_missed.png'
                    .left.goal= checkin.goal
                    .clear
                  .goal_wrapper
                    %p Next Week's Goal
                    .left.in_progress.goal_state
                      .box
                    .left.goal= checkin.next_week_goal
                    .clear
                .clear
                .right.action_buttons
                  - if owner
                    .left= link_to 'Respond to Feedback', startup_checkin_path(s, checkin), :class => 'btn btn-success'
                  - elsif @commented_on_checkin_ids.include?(checkin.id)
                    .left= link_to '<i class="icon icon-ok"></i> Feedback Given'.html_safe, startup_checkin_path(s, checkin), :class => 'btn'
                  - else
                    .left= link_to 'View', startup_checkin_path(s, checkin), :class => 'btn'
                  - if checkin.completed?
                    .left!= render_awesome_button(checkin)
                  .clear
                .left
                  .awesome_comment_count
                    %p= awesome_comment_count_summary(checkin)
                  .participants
                    - participants = checkin.participants
                    - participants.first(5).each do |p|
                      .left= link_to image_tag(p.pic_url(:small)), p, :title => p.name, :alt => p.name
                    - if participants.size > 5
                      .left.others
                        + #{participants.size - 5}
                        %br/
                        more
                    .clear
                .clear
      .span6
        .left.wkrtitle The Help Exchange
        .right.askbutton= link_to 'Ask For Help', new_request_path, :class => 'btn btn-large btn-success'
        .right
          .coinlabel
            Your Team's Coins
          .right.bigcoin= image_tag "headercoin.png"
          .right.bigcount.account_balance= current_user.startup.balance
          .clear
        .clear
        %hr/
        .helpexchange
          .columnTitles
            .left
              %p Type
            .left 
              %p Asker
            .left
              %p Helper
            .left 
              %p Earn
            .clear
          %hr/

          - if @earn_message == true
            .alert.alert-success
              %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
              %p You earn coins by helping out other nReduce startups complete tasks that are posted here.  Each task states the amount of coins that you will earn by doing it. If you click "Retweet" you will retweet what the requesting team posted.  Then you will immediately receive the stated amount of coins.

          - if @users_requests.present?
            .taskheader Tasks You Posted
            = render 'requests/list', :requests => @users_requests, :owner => true, :limit => 2

          - if @available_requests.present?
            .taskheader All Available Tasks
            = render 'requests/list', :requests => @available_requests

          - if @response.present?
            .response
              = render 'responses/success_modal'
            :javascript
              $(function(){ $('.success_modal').modal(); });

  - if @show_mentor_message
    %hr{:style => 'margin: 20px 0 20px 0;'}
    .row
      .span3
        &nbsp;
      .span6
        %h3 Welcome to the nReduce Mentor network!
        %br/ 
        %p Startups earn the ability to access the mentor network with 1-3 months of hard work on nReduce. Once they earn access they can contact one mentor per week. If you are contacted by a startup for a mentorship, you will receive an email and the startup will appear above. You can then learn about the startup and decide if you would like to mentor them.
        %p If you decide to mentor the startup, you will be notified about their weekly progress and be able to give feedback and advice.  To help you get familiar with the system, we have connected you with team nReduce.
        %br/ 
        %p The window for posting their weekly progress opens at 4pm PST on Mondays and closes at 4 PM PST on Tuesdays.  Once one of your startups posts their after video for the week, you will be notifed by email and a "Give Feedback" button will appear below their startup square. Simply click this button to access their checkin and give feedback.
        %p If it is after 4pm PST on Monday and one of your teams hasn't posted their after video, you will see a "Nudge" button that will send them a message saying that you are waiting to give them feedback.
        %br/ 
        %p If you are mentoring other startups outside of nReduce, you can invite them to join nReduce so that you can mentor all of your startups in one place. Simply click the invite button above and enter their startup name and email to do so.
        %br/ 
        %p Mentorship is essential for startups to succeed and we are very grateful that you are willing to help these great entrepreneurs build amazing companies.
        %br/ 
        %p
          Please contact me if you have any questions:
          = mail_to 'joe@nreduce.com'
          c: +1-415-259-8215
        %br/ 
        %p Best, 
        %b -Joe
        %br/
        %p
      .span3
        &nbsp;

- if @checkin_completed == true
  #checkin_completed.modal.hide
    .modal-body.center{:align => 'center'}
      - if @number_of_consecutive_checkins > 1
        %p You have completed #{@number_of_consecutive_checkins} consecutive checkins.
      - else
        %p You have completed your checkin.
      .right{:style => 'margin-right: -15px'}= image_tag 'hand_silhouette.png', :width => 270, :height => 220
      .right{:style => 'width: 250px; height: 270px; position: relative;'}
        %div{:style => 'position: absolute; top: 30%; right: 30%; height: 270px;'}
          %h2{:style => 'font-size: 50px; line-height: 50px'}
            Way to
            %br/
            do it!
      .clear
      %a.btn.btn-success.btn-large{:href => '#', 'data-dismiss' => 'modal'} Keep Working
  :javascript
    $('#checkin_completed').modal();