- content_for :subtitle do
  Your Alliance / Group
.row.center
  %p WorkRoom
.relationships
  .row.teams{:style => 'padding-top: 20px;'}
    - c = 0
    - num = @startups.size
    - @startups.each do |s|
      - current_checkin = @checkins_by_startup[s.id]
      - this_startup_url = (current_checkin and current_checkin.completed?) ? latest_startup_checkins_url(s) : startup_url(s)
      - logo_path = s.logo_url(:square)
      - owner = (@startup && (s.id == @startup.id))
      .team.span3{:align => 'center'}
        .top{:align => 'center', :onclick => "window.location = '#{this_startup_url}';"}
          .background{:style => "background-image: url('#{logo_path}'); cursor: pointer;"} &nbsp;
          .status.btn-group{:align => 'center', 'data-toggle' => 'buttons-checkbox'}
            %button.btn{:href => '#', :class => ((current_checkin and current_checkin.submitted?) ? 'btn-success' : 'disabled active')} Before
            %button.btn{:href => '#', :class => ((current_checkin and current_checkin.completed?) ? 'btn-success' : 'disabled active')} After
          .members{:align => 'center'}
            - s.team_members.shuffle.first(3).each do |tm|
              .inline-block{:style => 'margin-left: 4px'}= image_tag(user_avatar_url(tm), :title => tm.name, :style => 'width: 50px; height: 50px;')
        .bottom{:align => 'center'}
          %h3= link_to owner ? 'You' : truncate(s.name, :length => 20), startup_path(s)
          - if current_checkin and current_checkin.completed?
            - if owner
              = link_to 'Respond to Feedback', latest_startup_checkins_path(s), :class => 'btn btn-success'
            - elsif @commented_on_checkin_ids.include?(current_checkin.id)
              = link_to '<i class="icon icon-ok"></i> Feedback Given'.html_safe, latest_startup_checkins_path(s), :class => 'btn'
            - else
              = link_to 'Give Feedback', latest_startup_checkins_path(s), :class => 'btn btn-success'
            %p
              %small
                &nbsp;
                - if current_checkin.awesome_count > 0
                  = pluralize(current_checkin.awesome_count, 'awesome')
                - if current_checkin.awesome_count > 0 and current_checkin.comment_count > 0
                  &nbsp;-&nbsp;
                - if current_checkin.comment_count > 0
                  = pluralize(current_checkin.comment_count, 'comment')
                &nbsp;
          - if !owner and (current_checkin.blank? or (current_checkin and !current_checkin.completed?))
            = form_for Nudge.new(:startup_id => s.id), :html => {:id => "new_nudge_startup_#{s.id}"} do |f|
              = f.hidden_field :startup_id
              = link_to '<i class="icon-hand-left icon"></i> Nudge'.html_safe, '#', :title => "Nudge #{s.name} to complete their check-in with an email!", :onclick => "$('#new_nudge_startup_#{s.id}').submit();", :class => 'btn'
      - c += 1
      -# Show water cooler on far right
      - if (num < 3 && c == num) || c == 3
        .right.span3.team
          .top{:align => 'center', :onclick => "window.location = '#{posts_path};"}
            .background{:style => "background-image: url('#{image_path('napp.png')}'); cursor: pointer; border: 2px solid #fff;"} &nbsp;
          .bottom{:align => 'center'}
            %h3= link_to 'Water Cooler', posts_path
            = link_to 'Talk Smack', posts_path, :class => 'btn'
        - if c == 3
          .clear
        - c += 1
      - elsif c != 0 and c % 4 == 0
        .clear

  - nreduce_id = Startup.nreduce_id
  - if !current_user.startup_id.blank? and !nreduce_id.blank?
    .right
      - if current_user.weekly_class_id.present?
        %h3= link_to 'Your Weekly Class', current_user.weekly_class
      - else
        %p
    .clear

  - if @show_mentor_message
    %hr{:style => 'margin: 20px 0 20px 0;'}
    .row
      .span3
        &nbsp;
      .span6
        %h3 Welcome to the nReduce Mentor network!  
        %br/ 
        %p Startups earn the ability to access the mentor network with 1-3 months of hard work on nReduce. Once they earn access they can contact one mentor per week. If you are contacted by a startup for a mentorship, you will receive an email and the startup will appear above. You can then learn about the startup and decide if you would like to mentor them.
        %p If you decide to mentor the startup, you will be notified about their weekly progress and be able to give feedback and advice.  To help you get familiar with the system, we have connected you with team nReduce.
        %br/ 
        %p The window for posting their weekly progress opens at 4pm PST on Mondays and closes at 4 PM PST on Tuesdays.  Once one of your startups posts their after video for the week, you will be notifed by email and a "Give Feedback" button will appear below their startup square. Simply click this button to access their checkin and give feedback.
        %p If it is after 4pm PST on Monday and one of your teams hasn't posted their after video, you will see a "Nudge" button that will send them a message saying that you are waiting to give them feedback.
        %br/ 
        %p If you are mentoring other startups outside of nReduce, you can invite them to join nReduce so that you can mentor all of your startups in one place. Simply click the invite button above and enter their startup name and email to do so.
        %br/ 
        %p Mentorship is essential for startups to succeed and we are very grateful that you are willing to help these great entrepreneurs build amazing companies.
        %br/ 
        %p
          Please contact me if you have any questions:
          = mail_to 'joe@nreduce.com'
          c: +1-415-259-8215
        %br/ 
        %p Best, 
        %b -Joe
        %br/
        %p
          P.S. To meet your fellow nReduce mentors who are also passionate about helping startups, click the
          = link_to 'mentor tab', mentors_path
          in the menu bar!
      .span3
        &nbsp;