- content_for :subtitle do
  Your Alliance / Group

.row
  .span4
    %h2
      %small Your Alliance / Group

  .span8{:align => 'right'}
    - nc = Checkin.next_checkin_type_and_time
    Your #{nc[:type]} video is due in #{verbose_distance_until_time_from_now(nc[:time])} &nbsp;
    - if !@current_checkin.blank?
      - if @current_checkin.completed?
        = link_to 'This Week\'s Check-in', (Checkin.in_after_time_window? ? edit_checkin_path(@current_checkin) : @current_checkin), :class => 'btn btn-primary'
      - elsif @current_checkin.submitted? and Checkin.in_after_time_window?
        = link_to "Complete 'After' Check-in", edit_checkin_path(@current_checkin), :class => 'btn btn-danger'
      - else
        Keep workin! (#{link_to("'before' checkin", @current_checkin)} was submitted this week)
        %br
        'After' check-in is due next Tue by 4pm PST
    - if Checkin.in_after_time_window? and @current_checkin.blank?
      = link_to "Start 'After' Check-in", new_checkin_path, :class => 'btn btn-success'
    - elsif Checkin.in_before_time_window?
      = link_to "Start 'Before' Check-in", new_checkin_path, :class => 'btn btn-success'
    / - else
    /   Come back to start your checkin by Wednesday at 4pm PST

%hr
%br
%br
.row.checkins
  - c = 0
  - @startups.each do |s|
    - current_checkin = @checkins_by_startup[s.id]
    - this_startup_url = (current_checkin and current_checkin.completed?) ? latest_startup_checkins_url(s) : startup_url(s)
    - logo_path = s.logo_url(:square)
    - owner = (s.id == @current_startup.id)
    .checkin.span3{:align => 'center'}
      .top{:align => 'center', :onclick => "window.location = '#{this_startup_url}';"}
        .background{:style => "background-image: url('#{logo_path}'); cursor: pointer;"} &nbsp;
        .status.btn-group{:align => 'center', 'data-toggle' => 'buttons-checkbox'}
          %button.btn{:href => '#', :class => ((current_checkin and current_checkin.submitted?) ? 'btn-success' : 'disabled active')} Before
          %button.btn{:href => '#', :class => ((current_checkin and current_checkin.completed?) ? 'btn-success' : 'disabled active')} After
        .team{:align => 'center'}
          - s.team_members.shuffle.first(3).each do |tm|
            - next if tm.external_pic_url.blank?
            .inline-block{:style => 'margin-left: 4px'}= image_tag(tm.external_pic_url, :title => tm.name, :style => 'width: 50px; height: 50px;')
      .bottom{:align => 'center'}
        %h3= link_to owner ? 'You' : truncate(s.name, :length => 20), startup_path(s)
        - if current_checkin and (current_checkin.submitted? or current_checkin.completed?)
          = link_to (owner ? 'Respond to Feedback' : 'Give Feedback'), latest_startup_checkins_path(s), :class => 'btn btn-success'
          %p
            %small
              &nbsp;
              - if current_checkin.awesome_count > 0
                = pluralize(current_checkin.awesome_count, 'awesome')
              - if current_checkin.awesome_count > 0 and current_checkin.comment_count > 0
                &nbsp;-&nbsp;
              - if current_checkin.comment_count > 0
                = pluralize(current_checkin.comment_count, 'comment')
              &nbsp;
        - if !owner and (current_checkin.blank? or (current_checkin and !current_checkin.completed?))
          = form_for Nudge.new(:startup_id => s.id), :html => {:id => "new_nudge_#{s.id}"} do |f|
            = f.hidden_field :startup_id
            = link_to '<i class="icon-hand-left icon"></i> Nudge'.html_safe, '#', :title => "Nudge #{s.name} to complete their check-in with an email!", :onclick => "$('#new_nudge_#{s.id}').submit();", :class => 'btn'
    - c += 1
    - if c != 0 and c % 4 == 0
      .clear
  - if @startups.size < 8
    - 1.upto(8 - @startups.size) do
      .checkin.span3{:align => 'center', :onclick => "window.location = '#{search_startups_url}';"}
        .top{:style => "background-image: url('#{image_path('addteam.png')}'); cursor: pointer;"} &nbsp;
        .bottom
          %h3= link_to '+ Add Team', search_startups_path

- if @pending_relationships.size > 0
  .row{:style => 'margin-top: 20px'}
    .span12
      %hr
      %h3
        %small #{pluralize(@pending_relationships.size, 'team')} #{@pending_relationships.size == 1 ? 'is' : 'are'} interested in joining your group:
      %hr
      %br
      - @pending_relationships.each do |r|
        .span3.left{:align => 'center'}
          / = link_to image_tag('nreducetilerequest1.png'), startup_path(r.startup_id)
          / %br
          %h3= link_to r.startup.name, r.startup
          = link_to '<i class="icon-ok icon-white"></i> Accept'.html_safe, approve_relationship_path(r), :class => 'btn btn-success', :method => :post
          = link_to '<i class="icon-remove icon-white"></i> Not Now'.html_safe, reject_relationship_path(r), :class => 'btn btn-danger', :method => :post
      .clear