.control-group{error_css(@user, :email)}
  = f.label :email, "Your Email", :class => 'control-label'
  .controls
    = f.text_field :email, :class => "span4"
    = f.semantic_errors :email

.control-group{error_css(@user, :phone)}
  = f.label :phone, "Phone Number", :class => 'control-label'
  .controls
    = f.text_field :phone, :class => "span2"
    = f.semantic_errors :phone

.control-group{error_css(@user, :skill_list)}
  = f.label :skill_list, "Your Skills", :class => 'control-label'
  .controls
    = f.text_field :skill_list, :class => "span2"
    = f.semantic_errors :skill_list

.control-group{error_css(@user, :location)}
  = f.label :location, "Your Location", :class => 'control-label'
  .controls
    = f.text_field :location, :class => 'span2', :placeholder => 'Zip/Postal Code or City/State'
    = f.semantic_errors :location

.control-group{error_css(@user, :settings)}
  = f.label :settings, 'Email me', :class => 'control-label'
  .controls
    - User.settings_labels['email_on'].each do |id, action|
      %label{:class => 'checkbox inline'}
        = check_box_tag "user[settings][email_on][]", id, @user.settings['email_on'].include?(id.to_s)
        = action
      &nbsp;&nbsp;
    = f.semantic_errors :settings

.form-actions
  = f.submit "Save", :class => "btn btn-primary btn-large"
