.control-group{error_css(@user, :name)}
  = f.label :name, "Your Name", :class => 'control-label'
  .controls
    = f.text_field :name, :class => "span4"
    = f.semantic_errors :name

.control-group{error_css(@user, :email)}
  = f.label :email, "Your Email", :class => 'control-label'
  .controls
    = f.text_field :email, :class => "span4"
    = f.semantic_errors :email

.control-group{error_css(@user, :phone)}
  = f.label :phone, "Phone Number", :class => 'control-label'
  .controls
    = f.text_field :phone, :class => "span2"
    = f.semantic_errors :phone

.control-group{error_css(@user, :pic)}
  = f.label :pic, 'Your Picture', :class => 'control-label'
  .controls
    = f.file_field :pic
    = f.hidden_field :pic_cache
    = f.semantic_errors :pic
    - if @user.pic?
      %br/
      Current Image:
      = image_tag(@user.pic_url(:small))
      &nbsp;
      = f.check_box :remove_pic
      Remove pic

.control-group{error_css(@user, :skill_list)}
  = f.label :skill_list, "Your Skills", :class => 'control-label'
  .controls
    = text_field_tag 'user[skill_list]', @user.skill_list.map{|i| i.titleize }.join(', '), :maxlength => 45, :placeholder => 'comma, separated', :class => 'span4 skills_list_autocomplete'
    = f.semantic_errors :skill_list

.control-group{error_css(@user, :one_liner)}
  = f.label :one_liner, :class => 'control-label'
  .controls
    = f.text_field :one_liner, :class => "span4"
    = f.semantic_errors :one_liner

.control-group{error_css(@user, :bio)}
  = f.label :bio, :class => 'control-label'
  .controls
    = f.text_area :bio, :size => '80x4', :class => "span4"
    = f.semantic_errors :bio

.control-group{error_css(@user, :location)}
  = f.label :location, "Your Location", :class => 'control-label'
  .controls
    = f.text_field :location, :class => 'span2', :placeholder => 'Zip/Postal Code or City/State'
    = f.semantic_errors :location

- unless @user.mentor?
  .control-group{error_css(@user, :meeting_id)}
    = f.label :meeting_id, "Your Meeting", :class => 'control-label'
    .controls
      = f.select :meeting_id, options_for_select(Meeting.select_options, @user.meeting_id), :include_blank => true, :class => 'span2'
      = f.semantic_errors :meeting_id
      %span.help-inline= link_to 'Show Meetings', meetings_path
      %p.help-block
        Optional - if you want to attend a local meeting set it here.
        %br
        Update this if you change so that the organizer can message you in case of any venue details or changes.

- unless @user.mentor?
  .control-group{error_css(@user, :settings)}
    = f.label :settings, 'Email me', :class => 'control-label'
    .controls
      - User.settings_labels['email_on'].each do |id, action|
        %label{:class => 'checkbox inline'}
          = check_box_tag "user[settings][email_on][]", id, @user.settings['email_on'].include?(id.to_s)
          = action
        &nbsp;&nbsp;
      = f.semantic_errors :settings
%hr
.control-group
  .controls
    %h4
      %small Me, elsewhere:

.control-group{error_css(@user, :blog_url)}
  = f.label :blog_url, :class => 'control-label'
  .controls
    = f.text_field :blog_url, :class => "span3"
    = f.semantic_errors :blog_url

.control-group{error_css(@user, :facebook_url)}
  = f.label :facebook_url, :class => 'control-label'
  .controls
    = f.text_field :facebook_url, :class => "span3"
    = f.semantic_errors :facebook_url

.control-group{error_css(@user, :linkedin_url)}
  = f.label :linkedin_url, :class => 'control-label'
  .controls
    = f.text_field :linkedin_url, :class => "span3"
    = f.semantic_errors :linkedin_url

.control-group{error_css(@user, :github_url)}
  = f.label :github_url, :class => 'control-label'
  .controls
    = f.text_field :github_url, :class => "span3"
    = f.semantic_errors :github_url

.control-group{error_css(@user, :dribbble_url)}
  = f.label :dribbble_url, :class => 'control-label'
  .controls
    = f.text_field :dribbble_url, :class => "span3"
    = f.semantic_errors :dribble_url


.form-actions
  = f.submit "Save", :class => "btn btn-primary btn-large"
