- source ||= 'profile'
- unless user.linkedin_url.blank?
  = link_to_external image_tag('linkedin_32.png'), user.linkedin_url, :source => source
- unless user.twitter.blank?
  = link_to_external image_tag('twitter_32.png'), "https://twitter.com/#!/#{user.twitter.sub('@', '')}", :source => source
- unless user.github_url.blank?
  = link_to_external image_tag('github_32.png'), user.github_url, :source => source
- unless user.dribbble_url.blank?
  = link_to_external image_tag('dribbble_32.png'), user.dribbble_url, :source => source
- unless user.blog_url.blank?
  = link_to_external image_tag('blog_32.png'), user.blog_url, :source => source
- unless user.facebook_url.blank?
  = link_to_external image_tag('facebook_32.png'), user.facebook_url, :source => source