.account_type.myriad_light
  %h2.myriad_bold Account Type

  = form_for current_user, :url => account_type_user_path(current_user), :html => {:method => :post, :class => 'form-horizontal'} do |f|
    
    - [:entrepreneur, :mentor, :investor, :spectator].each do |type|  
      .type
        = f.label :roles do
          .left= f.radio_button :roles, type
          .left.text= type.to_s.titleize
          .clear
    .center= f.submit 'Continue', :class => 'btn btn-large btn-primary'
    %br/
    %hr/
    %h3 THE MAN IS AWESOME
