- content_for :subtitle do
  Chat

%h2 nReduce Chat

- if 1 == 1 #current_auth.hipchat?
.right
  = link_to "Download HipChat Desktop/Mobile App", "http://nreduce.hipchat.com", :target => "_blank"
.left
  %strong Username:
  = @user.hipchat_username
  %br
  .left
    %strong Password:
    &nbsp;
  .left
    .pass.hide
      = @user.hipchat_password
      &nbsp;
      = link_to '(hide)', '#', :onclick => "$('.pass').toggle()"
    .pass
      = link_to '(show password)', '#', :onclick => "$('.pass').toggle()"
  .clear
  %i
    Problems logging in?
    = link_to 'Reset HipChat login', reset_hipchat_account_users_path, :method => :post
.clear
%br
%iframe{:src => "http://nreduce.hipchat.com/chat", :width => 920, :height => 625, :frameborder => 0, :style => 'border: 1px solid #ccc'}
%br
%br
%br

- else
  %h3= link_to "Create free HipChat account", "/auth/hipchat", :method => :post