- body_attrs :class => "apply"

-# - content_for :subtitle do
-#   Coming Soon!

= render 'layouts/nav'

%p
  %br
  Logged in as
  %strong
    #{@user.name}

%p
  %br
  - if !@user.startup.blank?
    = link_to "My Startup", "/startup", :class => "btn btn-large btn-primary"
  - else
    = link_to "Register Startup", new_startup_path, :class => "btn btn-large"
  - if @user.admin?
    = link_to "Admin Tools", "/admin", :class => "btn btn-large"


