-# - content_for :subtitle do
-#   Coming Soon!

.row
  .span8
    %h1
      %small User Profile
  .span4{:align => 'right'}
    - if user_signed_in? and current_user.id == @user.id
      = link_to "Edit Account", edit_user_path(@user), :class => "btn"
    - if current_user.admin? and current_user.id != @user.id
      - unless current_user.account_setup?
        = link_to "Approve User", approve_admin_user_path(@user), :class => 'btn btn-success'
      = link_to "Sign in As User", sign_in_as_admin_user_path(@user), :class => 'btn'
    - if @can_invite_as_mentor == true
      = link_to 'Ask to Mentor', '#', :class => 'btn btn-large', :onclick => "$('#user_#{@user.id}_invite').modal(); return false;"
      .modal.hide.invite_mentor{:id => "user_#{@user.id}_invite"}
        = form_for Relationship.new(:entity => @startup, :connected_with => @user, :context => :startup_mentor), :html => {:class => 'form-inline'} do |f|
          .modal-header
            %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
            %h3 Ask #{@user.name} to Mentor Your Startup
          .modal-body
            = f.hidden_field :context
            = f.hidden_field :entity_id
            = f.hidden_field :entity_type
            = f.hidden_field :connected_with_id
            = f.hidden_field :connected_with_type
            Write one to two paragraphs about why you think they are a good mentor for you:
            %br/
            = f.text_area :message, :style => 'width: 400px; height: 100px'
          .modal-footer.center
            = link_to 'Close', '#', :class => 'btn', 'data-dismiss' => 'modal'
            = f.submit 'Send Request', :class => 'btn btn-primary'
            %br/
            %i Limit one per week
.row
  .span12.well{:style => 'padding: 0'}
    .row{:style => 'padding: 19px'}
      .span3= image_tag @user.pic_url(:square), :width => 200, :height => 200
      .span5
        %br
        %h1= h(@user.name)
        %h3= h(@user.one_liner)
        - if @user.roles?(:nreduce_mentor)
          %h2
            %small nReduce Mentor
        - elsif @user.roles?(:mentor)
          %h2
            %small Mentor
        - unless @user.startup.blank?
          %h3
            %small Team :
            = link_to h(@user.startup.name), @user.startup
        %p
          %small Skills: #{h(@user.skill_list)}
        - unless @user.location.blank?
          %p
            %small Located: #{h(@user.location)}
        %br
        - unless @user.linkedin_url.blank?
          = link_to image_tag('linkedin_32.png'), @user.linkedin_url, :target => '_blank'
        - unless @user.twitter.blank?
          = link_to image_tag('twitter_32.png'), "https://twitter.com/#!/#{@user.twitter.sub('@', '')}", :target => '_blank'
        - unless @user.github_url.blank?
          = link_to image_tag('github_32.png'), @user.github_url, :target => '_blank'
        - unless @user.dribbble_url.blank?
          = link_to image_tag('dribbble_32.png'), @user.dribbble_url, :target => '_blank'
        - unless @user.blog_url.blank?
          = link_to image_tag('blog_32.png'), @user.blog_url, :target => '_blank'
        - unless @user.facebook_url.blank?
          = link_to image_tag('facebook_32.png'), @user.facebook_url, :target => '_blank'
      .span3
        != rating_link(@user)
        %br/
        %p
          %small About #{h(@user.name)}
        %p= simple_format(h(@user.bio))

- if @user.mentor?
  - startups = @user.connected_to('Startup')
  - unless startups.blank?
    .row
      .span12
        %hr
        %br
        %h4
          %small #{h(@user.name).possessive} Teams
        %br/
        %hr
        %br/
    .row
      .span12
        = render 'startups/horizontal_list', :startups => @user.connected_to('Startup')
        %hr
        %br
- elsif !@user.startup.blank?
  .row
    .span12
      %hr
      %br
      %h4
        %small #{h(@user.name).possessive} Teammates
      %br/
      %hr
      %br/
  .row
    .span12
      = render 'startups/team_members', :team_members => @user.startup.team_members - [@user], :add_team_member => (@user.id == current_user.id ? true : false)
      %hr
      %br

- if !@current_invite.blank?
  - if @current_invite.invite_type == Invite::MENTOR || @current_invite.invite_type == Invite::NREDUCE_MENTOR
    You have been invited to be a mentor!
  - if !@current_invite.startup.blank?
    %p #{@current_invite.from.name} has invited you to join Team #{h(@current_invite.startup.name)}:
    = link_to "Join #{h(@current_invite.startup.name)}", accept_invite_path(:id => @current_invite.code), :class => "btn btn-large btn-primary"
  - else
    = link_to "Accept Invite", accept_invite_path(:id => @current_invite.code), :class => "btn btn-large btn-primary"
  &nbsp;&nbsp;
  = link_to "Decline Invite", @current_invite, :method => :delete, :class => "btn btn-large", :confirm => "Are you sure you want to decline it?"
- elsif @user.startup_id.blank? and @user.entrepreneur?
  = link_to "Register Startup", new_startup_path, :class => "btn btn-large"