= f.hidden_field :startup_id
= f.hidden_field :interested

/ Display any errors for startup
.control-group{error_css(f.object, :startup_id)}
  .controls= f.semantic_errors :startup_id

.control-group{error_css(f.object, :weakest_element)}
  %p What is the weakest element of this startup?
  .controls{:align => 'center'}
    = f.hidden_field :weakest_element, :class => 'weakest_element_hidden_field'
    .btn-group.inline-block{'data-toggle' => 'buttons-radio'}
      - Rating.weakest_element_labels.each do |id, value|
        %button.btn.btn-large.weakest_element{:type => 'button', :rel => id}= value
    %p{:style => 'font-size: 1.1em'} (the biggest blocker to them being fundable)
%br/

.control-group{error_css(f.object, :explanation)}
  %p Please share your feedback with the startup to help them build a better business:
  .controls
    = f.text_area :explanation, :size => '140x5', :class => 'span6'
    = f.semantic_errors :explanation  
    %p{:style => 'font-size: 1.1em;'}
      This will be shared
      %strong anonymously
      with the startup.
      %br/
      If they find it useful they can give you a "#{Awesome.label_for_type('Rating')}" to thank you.

%br/
.control-group{error_css(f.object, :contact_in)}
  %p When would you be interested in meeting with this startup?
  .controls{:align => 'center'}
    = f.hidden_field :contact_in, :class => 'contact_in_hidden_field'
    .btn-group.inline-block{'data-toggle' => 'buttons-radio'}
      - Rating.contact_in_labels.each do |id, desc|
        - css_class = f.object.contact_in.blank? ? 'disabled' : ''
        - css_class += ' btn-danger' if id == 1
        - css_class += ' btn-success' if id == 5
        %button.btn.btn-large.contact_in{:type => 'button', :rel => id, :class => css_class}= desc
    %br/
    - Rating.contact_in_labels(true).each do |id, desc|
      .contact_in_description.inline-block= desc
