= f.hidden_field :startup_id
= f.hidden_field :interested

/ Display any errors for startup
.control-group{error_css(f.object, :startup_id)}
  .controls= f.semantic_errors :startup_id

.control-group{error_css(f.object, :explanation)}
  %p What is one suggestion you can give to the founders to improve this business?
  .controls
    = f.text_area :explanation, :size => '140x5', :class => 'span5'
    = f.semantic_errors :explanation  

.control-group{error_css(f.object, :value)}
  %p When are you interested in talking to the founders about investing?
  .controls
    - 1.upto(5).each do |c|
      .inline-block{:style => 'width: 80px', :align => 'center'}
        = label_tag do
          = Rating.labels[c]
          %br/
          = f.radio_button :value, c

/ .control-group{error_css(f.object, :feedback)}
/   = f.label :feedback, f.object.interested? ? 'What is their strongest element?' : 'What is their weakest element?'
/   .controls
/     - Rating::FEEDBACK_OPTIONS.each do |o|
/       / Check true by default if they say they're interested, otherwise false / whatever is selected
/       .left{:style => 'margin-right: 10px'}
/         = label_tag '' do
/           = radio_button_tag "rating[feedback][]", o, f.object.feedback?(o), :class => 'btn'
/           = o.to_s.titleize 

/     .clear
/     = f.semantic_errors :feedback

