.investors
  - c = 0
  .video_player
    .title
    - @videos.each do |v|
      - if c == 0
        != display_video(v)
      - else
        .hide.video_wrapper!= display_video(v)
      - c += 1
    .thumbnails
      - @videos.each do |v|
        .thumbnail.left{:class => c == 0 ? 'active' : '', 'data-video-id' => "video_#{v.id}"}= image_tag v.image_url(:small)
      .clear


  - video_data = @videos.map{|v| {:video_id => v.id, :title => 'No data'}}

  :javascript
    // $('#video_#{@videos.first.id}').load(function(){
    //   vimeoAutoplayVideos([#{@videos.map{|v| "'video_#{v.id}'" }.join(',')}]);
    // });
    vp = new VideoPlayer(#{video_data.to_json}, true);

  = render 'startups/investment_profile'
  %br/

  - unless @checkins.blank?
    = render 'startups/checkins_list', :investor_view => true
    %br/
    %hr/
    %br/

  %center
    = semantic_form_for [@startup, @rating], :remote => true, :html => {:class => 'form-vertical' } do |f|
      = render 'ratings/fields', :f => f
      %br/
      = f.submit 'Save & Stop', :class => 'btn btn-large disabled', :disabled => true
      &nbsp;&nbsp;
      = f.submit 'Save & See Next Startup', :class => 'btn btn-large btn-success disabled', :disabled => true

  %div{:align => 'center'}
    .progress{:style => 'width: 40%', :align => 'left', :title => "#{@pct_complete}% complete"}
      .bar{:style => "width: #{@pct_complete}%"}

  #rating_modal.hide

