.coworking_location_modal.modal.hide
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
    %h1= Settings.coworking_locations.uptown_espresso.name
  .modal-body
    %p
      %strong= Settings.coworking_locations.uptown_espresso.location
    %p= link_to_twitter Settings.coworking_locations.uptown_espresso.twitter, :target => '_blank'
    %p= link_to Settings.coworking_locations.uptown_espresso.url, Settings.coworking_locations.uptown_espresso.url, :target => '_blank'
    :plain
      <iframe width="535" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="#{Settings.coworking_locations.uptown_espresso.map_url}"></iframe>
    .center
      %p We profile one location a month to help founders discover amazing spaces.