- content_for :subtitle do
  nReduce Hearts Startups

.span12.center= image_tag 'heartstartups.png'
.home_page.myriad_light.center{:style => 'padding-top: 20px'}
  %h3 And so do these Awesome People!
  %br/
  %br/
.row
  .span3.center= image_tag 'nengine.png'
  .span3.center= image_tag 'nblueseed.png'
  .span3.center= image_tag 'ncofounderslab.png'
  .span3.center= image_tag 'angelco.png'
.row
  .span3.center= image_tag 'f6s.png'