.row{:style => 'padding-bottom: 40px;'}= image_tag 'yourock.png'
.row{:style => 'padding-bottom: 10px;'}
  %hr/
.row
  .span2
    %p Team Name
  .span3
    %p Elevator Pitch
  .span1
    %p
  .span4 
    %p Help Needed
  .span2 
    %p Button
.row{:style => 'padding-bottom: 10px;'}
  %hr/
.row{:style => 'padding-bottom: 10px;'}
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Cloudfier",'http://cloudfier.com', target:'blank'
  .span3
    %p A platform for rapid development & deployment of data-centric business applications
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p What do you think of the new syntax for derivations/initializations/constraints? Before they could be multi-statement, required a return command), now they are single expressions.
  .span2 
    %p= link_to "Help Startup", 'mailto:rafael@abstratt.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Kouply",'http://www.kouply.com', target:'blank'
  .span3
    %p Healthier relationships through gameplay.
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Try out kouply and give us their feedback.
  .span2 
    %p= link_to "Help Startup", 'mailto:tushar@kouply.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Startup Spirits",'http://ww.StartupSpirits.dk', target:'blank'
  .span3
    %p Edutainment game for Entrepreneurship
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Feedback on our Beta
  .span2 
    %p= link_to "Help Startup", 'mailto:jflegran@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "directEdit",'http://frontendcms.com', target:'blank'
  .span3
    %p edit your website in the frontend
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Introductions to Web Designers to Test my App
  .span2 
    %p= link_to "Help Startup", 'mailto:mail@carloroosen.nl?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Bunchmail",'http://www.bunchmail.com/', target:'blank'
  .span3
    %p Email gatekeeper so you are less distracted by email
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Can you recommend a web designer for helping out our team? 
  .span2 
    %p= link_to "Help Startup", 'mailto:david@bunchmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "fresh",'http://freshproduct.at', target:'blank'
  .span3
    %p Fresh product at all your favorite stores.
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Feedback on the site freshproduct.at   Please keep in mind that the site is targeted to online shoppers.
  .span2 
    %p= link_to "Help Startup", 'mailto:mail@gnr8.biz?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "GymSnoop",'http://www.gymsnoop.com', target:'blank'
  .span3
    %p Gym Comparison Engine
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p  Does anybody know of a (preferably free) tool where I can dump in a bunch of addresses and get coordinates?
  .span2 
    %p= link_to "Help Startup", 'mailto:paul@gymsnoop.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Clef",'https://clef.io', target:'blank'
  .span3
    %p Authentication from mobile phones
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Download the app and log in with it on clef.io and let us know how the experience is.
  .span2 
    %p= link_to "Help Startup", 'mailto:brennen@clef.io?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "mute.fm",'http://www.mute.fm/', target:'blank'
  .span3
    %p Mutes music while watching videos
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p Any thoughts as to a data-driven business model?  (If I keep track of what videos you watch or what music you listen to.)
  .span2 
    %p= link_to "Help Startup", 'mailto:jared.sohn@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "The New Outfit Project",'http://thenewoutfitproject.com/', target:'blank'
  .span3
    %p Virtual personal stylist
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p I need help with rapid prototyping techniques (for people with limited development capabilities).
  .span2 
    %p= link_to "Help Startup", 'mailto:samantha.grimm@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "ideafx",'http://ideafx.org', target:'blank'
  .span3
    %p Social idea management system
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p What are think about new landing page?
  .span2 
    %p= link_to "Help Startup", 'mailto:trof.mike@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Spark, Inc",'http://www.sparkinc.com/', target:'blank'
  .span3
    %p Motion is our Medium
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p Feature Freeze vs. Feature Complete - how can you decide when to ship?  Especially difficult when we have to worry about iOS Store delays.
  .span2 
    %p= link_to "Help Startup", 'mailto:mary@sparkinc.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "whathavei",'http://www.whathavei.com', target:'blank'
  .span3
    %p Your personal inventory and social shopping list in the cloud - post and share about all the products you have, want, and like
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p What other ways could I help you track your purchase history?
  .span2 
    %p= link_to "Help Startup", 'mailto:georgewsu@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Chorma",'http://www.chorma.com', target:'blank'
  .span3
    %p Chorma helps roommates and families organize chores
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p Apple push notifications are finally working with apn_on_rails library. Problem is that not all notifications are getting through (similar behavior with both local dev environment and Heroku). Maybe due to using sandbox Apple Push Notificaion server..?
  .span2 
    %p= link_to "Help Startup", 'mailto:sjjbennett@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "LiveReload",'http://livereload.com', target:'blank'
  .span3
    %p Web Developer Wonderland
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p Share you experience with sourcing design work, if any. How did you find your designer? How much did you pay? Were you satisfied with the result?
  .span2 
    %p= link_to "Help Startup", 'mailto:andrey@tarantsov.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "DreamCommerce",'http://www.dreamcommerce.co', target:'blank'
  .span3
    %p Social Real Estate Platform
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Can you test our site? I will be at the SF rapid feedback night next week.  And I can set up one-on-ones this week and next.  Coffee is on me.
  .span2 
    %p= link_to "Help Startup", 'mailto:dragones@dreamcommerce.co?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Kitchon",'http://kitchon.com', target:'blank'
  .span3
    %p A better way to cook
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p if anybody has any advice on how to get a screen cast from an ipad, that would be great. I can't run this in the simulator, as the simulator breaks with the phonegap facebook login.
  .span2 
    %p= link_to "Help Startup", 'mailto:pete@hotmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "rentini",'http://www.rentini.com', target:'blank'
  .span3
    %p Holiday home finding via activities
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p What do you think of Pinocular.com?
  .span2 
    %p= link_to "Help Startup", 'mailto:vadim@rentini.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Crowdegy",'http://www.crowdegy.com', target:'blank'
  .span3
    %p Crowdsourced strategic insight
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p What do you think of the demo?
  .span2 
    %p= link_to "Help Startup", 'mailto:jon@crowdegy.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Location Star",'http://location.st', target:'blank'
  .span3
    %p Manage Your Location. Smarter.
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Starting to create some surveys to get a better sense of what location-based services users would want.  So any volunteers would be good.
  .span2 
    %p= link_to "Help Startup", 'mailto:marcus@location.st?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "crowd.fm",'http://crowd.fm', target:'blank'
  .span3
    %p Online event promotion made easy.
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Anyone have marketing contacts at music venues that are clued up on social media?
  .span2 
    %p= link_to "Help Startup", 'mailto:tekin@crowd.fm?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "TrulyShare",'http://www.trulyshare.com', target:'blank'
  .span3
    %p We crowdsource advertising for retailers by directly linking real products to your social networks. Scan the tag, share with friends.
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p What do you think of the homepage?
  .span2 
    %p= link_to "Help Startup", 'mailto:abagher@thinkersr.us?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "DrinkCode",'http://drinkcode.com', target:'blank'
  .span3
    %p Send friends drinks
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Looking for some users to test out our beta in the coming weeks. Know anyone in the SF area with an iPhone and interested in trying out DrinkCode? Thanks!
  .span2 
    %p= link_to "Help Startup", 'mailto:robert.aikins@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Trivio",'http://triv.io', target:'blank'
  .span3
    %p Helping Groups Work on Big Data
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Intros to Devs who might be interested in testing our clowd based big data processing system when we launch?
  .span2 
    %p= link_to "Help Startup", 'mailto:srobertson@codeit.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "doondo",'http://doondo.com', target:'blank'
  .span3
    %p Event discovery
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p How do I make a good digest email?  Are there ones you like?  Any good tips?
  .span2 
    %p= link_to "Help Startup", 'mailto:jatin.chopra@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "DeedCast",'http://www.deedcast.com/products/', target:'blank'
  .span3
    %p Disrupting residential real estate brokerage
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p we reach this customer without a decent marketing budget?
  .span2 
    %p= link_to "Help Startup", 'mailto:dekel@leadplace.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "MySkills.com.br",'http://www.myskills.com.br', target:'blank'
  .span3
    %p Recruiting Developers Based on Meritocracy
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Do you know any recruiters who would give us feedback on our app?
  .span2 
    %p= link_to "Help Startup", 'mailto:eduardo.cruz@myskills.com.br?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Weave.sh",'http://launch.weave.sh/?lrRef=N3Ijf', target:'blank'
  .span3
    %p Put Waste to Work
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p Need Java help
  .span2 
    %p= link_to "Help Startup", 'mailto:nreduce@ambled.org?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Foro",'http://www.infikno.com', target:'blank'
  .span3
    %p Pandora For Products
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Check out the site!  We removed the beta invite gate so anyone can go on, search for a game and create a profile.
  .span2 
    %p= link_to "Help Startup", 'mailto:jeremy.thiesen1@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Christian Musician Community",'http://www.cmchub.com', target:'blank'
  .span3
    %p Christian Musician Community
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p What our next steps should be to build and advance our startup team?
  .span2 
    %p= link_to "Help Startup", 'mailto:gkbassn4@yahoo.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "CompareRC",'http://comparerc.com', target:'blank'
  .span3
    %p Octopart for RC Parts and Components
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p Help me brainstorm ways I can make money (advertising, premium vendors, etc).  Remember, the big problem is that I don't have much traffic right now, so that really hurts ideas like "premium vendors"
  .span2 
    %p= link_to "Help Startup", 'mailto:zacharyjtong@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Mightyverse",'http://www.mightyverse.com', target:'blank'
  .span3
    %p Say what you want to say, in any language, anywhere
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Looking for Mandarin learners to show designs to
  .span2 
    %p= link_to "Help Startup", 'mailto:sarah@mightyverse.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "Mailbird",'http://www.getmailbird.com', target:'blank'
  .span3
    %p Sparrow for Windows
  .span1
    %p= image_tag 'iconintro.png'
  .span4 
    %p Intros to people who might like our Kickstarter page!!!!!
  .span2 
    %p= link_to "Help Startup", 'mailto:michael@bodekaer.dk?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "GimmeText",'http://www.gimmetext.com', target:'blank'
  .span3
    %p Intelligent Image to Text conversion service
  .span1
    %p= image_tag 'iconfeedback.png'
  .span4 
    %p Feedback on the landing page would be great!
  .span2 
    %p= link_to "Help Startup", 'mailto:v@slowpoison.net?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
.row{:style => 'padding-bottom: 20px;'}
  %p
.row
  .span2
    %p{:style => 'padding-top:10px; font-size: 25px; font-color: #ff0066'}= link_to "StrengthBuddy",'http://signup.strengthbuddy.com/', target:'blank'
  .span3
    %p Train with your very own strength coach.
  .span1
    %p= image_tag 'iconadvice.png'
  .span4 
    %p If any of you know any coaches, trainers, nutritionists, I would be grateful for an introduction
  .span2 
    %p= link_to "Help Startup", 'mailto:vivekponnaiyan@gmail.com?cc=joe@nreduce.com&Subject=You%20called?%20:)%20nReduce%20Help%20Offer', :class => "btn btn-success btn-large", :title => 'Comment'
