.home_page{:class => @demo_day.present? ? 'demo_day' : ''}
  .arrow
  .row{:style => 'padding-bottom: 10px'}
    .span12.background-field{:align => 'center'}
      - if @demo_day.present?
        = image_tag 'nstar_halo.png', :style => 'width: 184px; height: 165px;'
        - if @demo_day.in_the_future?
          = render 'layouts/countdown', :time => @demo_day.starts_at
          %br/
          .enter_button= link_to "Enter Demo Day".html_safe, '#', :class => 'btn btn-large disabled'
        - elsif @demo_day.in_time_window?
          %h2 #{@demo_day.day.strftime('%B %Y')} nStar Demo Day
          %br/
          .enter_button= link_to "Meet the Winners".html_safe, @demo_day, :class => 'btn btn-large btn-success'
      - else
        .row{:style => 'padding-bottom: 150px'}
          .span1
            %p
          .span4.well{:style => 'padding-left:20px'}
            = image_tag 'jjhome.jpg'
          .span6{:style => 'text-align:left; padding-left:20px; padding-top:0px'}
            %b{:style => 'font-size:80px; color:#25A6E9; line-height:75px'} The Free Online Startup Incubator 
            %h2{:style => 'font-size:40px; padding-top:20px'} Where Great Startups are Born.
            %h2 


  %hr
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 How Can nReduce Help My Startup?
  %hr/
  .row{:style => 'padding-top:40px; padding-bottom:40px'}
    .span8.offset2
      %b{:style => 'font-size:25px'} 1) You get weekly feedback from fellow startup founders.  
  .row
    .span8.offset2
      .center= image_tag 'helpfromfounders.png'
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span8.offset2
      %b{:style => 'font-size:25px'} 2) You get help and advice from nReduce Mentors 
  .row
    .span8.offset2
      .center= image_tag 'mentors.jpg'
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span8.offset2
      %b{:style => 'font-size:25px'} 3) Get the chance to be seen by investors and early adopters. 
  .row
    .span8.offset2
      .center= image_tag 'investors.jpg'
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 4) You get proven productivity methods to keep you focused.
    .span2   
  .row
    .span8.offset2
      .center= image_tag 'weekbig2.jpg'
    .span2
      %p/

  %br/
  %br/
  %hr/
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 How Much Does It Cost For My Startup to Join?
  %hr/
  .row.center{:style => 'padding-top: 130px; padding-bottom:50px'}
    %h1.b{:style => 'font-size: 200px; color: #25A6E9; font-style:bold'}Free!
  .row.center{:style => 'padding-top: 40px; padding-bottom:90px'}
    %h1{:style => 'font-size: 80px; color: #cccccc'}$0 & 0% Equity

  .row{:style => 'padding-top:40px'}
    %hr
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 Where are the teams who are actively using nReduce?
  %hr/
  .row{:style => 'padding-top: 20px'}
    .span1
      %p
    .span10
      = render 'weekly_classes/map'

  %hr/
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 What industries are nReduce companies focusing on?
  %hr/
  .row{:style => 'padding-top: 20px'}
    .span1
      %p
    .span10
      = image_tag 'industries.jpg'
  %br/
  %br/
  %hr/
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 How far along are most nReduce companies?
  %hr/
  .row{:style => 'padding-top: 20px;padding-bottom:40px'}
    .span4.offset2
      =image_tag('teamsize.png')
    .span4
      =image_tag('ageofstartups.png')
  %br/
  %br/
  %hr/
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 Where are there in person meetings?
  %hr/
  .row{:style => 'padding-top: 20px;padding-bottom:40px'}
    .span2.center.offset1
      =image_tag('locations_manchester.png')
      %h4{:style => 'padding-top: 10px'}= link_to "Manchester, UK", 'http://www.meetup.com/nReduce-Manchester/', :target => '_blank'
      %p Leader : Shaf Choudry
    .span2.center
      =image_tag('locations_sf.jpg')
      %h4{:style => 'padding-top: 10px'}= link_to "San Francisco, US", 'http://www.meetup.com/nReduce/', :target => '_blank'
      %p Leader : Erin Parker
    .span2.center
      =image_tag('locations_austin.jpg')
      %h4{:style => 'padding-top: 10px'}= link_to "Austin, US", 'http://www.meetup.com/nReduce-Austin/', :target => '_blank'
      %p Leader : David Johnston
    .span2.center
      =image_tag('locations_nyc.jpg')
      %h4{:style => 'padding-top: 10px'}= link_to "New York, US", 'http://www.meetup.com/nReduce-New-York-City/', :target => '_blank'
      %p Leader : Marcus Smith
    .span2.center
      =image_tag('locations_london.jpg')
      %h4{:style => 'padding-top: 10px'}= link_to "London, UK", 'http://www.meetup.com/nReduce-London/', :target => '_blank'
      %p Leader : Louis Sayers
  %br/
  %br/
  %hr/
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 Has any Press Covered nReduce?
  %hr/
  %br/
  %br/
  .row
    .span4.offset1
      %h3= link_to '8 Companies Make Their Debut at NReduce’s First Virtual Demo Day', 'http://pandodaily.com/2012/09/05/eight-companies-make-their-debut-at-nreduces-first-virtual-demo-day/', :target => "_blank"
      %div{:style => 'padding-top: 10px'}
        .left{:align => 'right'}= link_to image_tag('pandosq.png'), 'http://pandodaily.com', :target => "_blank"
        .left{:style => 'padding-left: 20px'}
          %b Nathaniel Mott
          %p PandoDaily
          %p
            :plain
              <a href="https://twitter.com/nathanielmott" class="twitter-follow-button" data-show-count="false">Follow @nathanielmott</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        .clear
    .span4.offset1
      %h3= link_to 'Meet the first class of startups from the open-source Y Combinator', 'http://venturebeat.com/2012/09/05/nreduce-demo-day/#s:nreduce-1' , :target => "_blank"
      %div{:style => 'padding-top: 10px; padding-bottom: 20px'} 
        .left{:align => 'right'}= link_to image_tag('vbsq.png'), 'http://venturebeat.com', :target => "_blank"
        .left{:style => 'padding-left: 20px'}
          %b Jolie O'Dell
          %p VentureBeat
          %p
            :plain
              <a href="https://twitter.com/jolieodell" class="twitter-follow-button" data-show-count="false">Follow @jolieodell</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .clear
  %br/
  %br/
  .row
    .span4.offset1
      %h3= link_to 'N Reduce Opens Up As Alternative to Ultra-Elite Startup Incubators', 'http://www.xconomy.com/san-francisco/2012/05/14/n-reduce-opens-up-as-alternative-to-ultra-elite-startup-incubators/', :target => "_blank"
      %div{:style => 'padding-top: 10px'}
        .left{:align => 'right'}= link_to image_tag('xconsq.png'), 'http://www.xconomy.com/', :target => "_blank"
        .left{:style => 'padding-left: 20px'}
          %b Nathaniel Mott
          %p PandoDaily
          %p
            :plain
              <a href="https://twitter.com/wroush" class="twitter-follow-button" data-show-count="false">Follow @nwroush</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        .clear
    .span4.offset1
      %h3= link_to 'Virtual Incubator to All — Is It the Pre-AngelList?', 'http://pandodaily.com/2012/07/27/virtual-incubator-to-all-nreduce-adds-mentors-and-demo-days-is-it-the-pre-angellist/' , :target => "_blank"
      %div{:style => 'padding-top: 10px; padding-bottom: 20px'} 
        .left{:align => 'right'}= link_to image_tag('pandosq.png'), 'http://pandodaily.com', :target => "_blank"
        .left{:style => 'padding-left: 20px'}
          %b Sarah Lacy
          %p PandoDaily
          %p
            :plain
              <a href="https://twitter.com/sarahcuda" class="twitter-follow-button" data-show-count="false">Follow @sarahcuda</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .clear







  %hr/
  .row.center{:style => 'padding-top:60px; padding-bottom: 20px'}
    %h1 Okay, Ready to Join?
  .row.center{:style => 'padding-top: 100px; padding-bottom:50px'}
    %h1= link_to "Join Now".html_safe, sign_up_path, :class => "btn btn-success btn-large", :title => 'Join Now', :style => 'font-size: 80px; line-height'

  

  .row
    .span8.offset3
      .left{:style => 'padding:5px'}
        :plain
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.nreduce.com" data-text="An alliance of founders working together to build Amazing Companies" data-via="nReduce">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      .left{:style => 'padding:5px'}
        :plain
          <div class="fb-like" data-href="http://www.nreduce.com" data-send="false" data-width="500" data-show-faces="true"></div>          
    .clear
  .row
    %br/
    %hr
    %br/
  .row.center{:style => 'padding-top:20px; padding-bottom: 20px'}
    %h1 What Founders are saying about nReduce
  %hr/
  .row{:style => 'padding-top: 20px'}
    .span5.offset1
      %h3 I've been in nreduce for a couple months now and I think it's a great program. The startups are very mixed in terms of goals--some are working on side projects, others are building real businesses with real customers, revenue, and all that. The community has been extremely helpful, and it's a good way to connect with people facing similar problems.This is a bit of a glowing review, but as far as my goals of accountability and connections, it's been hugely helpful for me. And honestly, not having to give up equity or take investment is a pretty great deal.
      %br/
      %br/
      %h4 nReduce has been incredibly helpful to our startup and I'm super psyched that Joe and Josh have been able to put dev resources into building what's turned into one of the most useful resources to keep our startup motivated and shipping things every week.
      I helped kick off the initial idea a few months ago, and it's morphed into something way different and in my opinion way better than what I initially was aiming for.
      %br/
      %br/
      %h3 Im based in Sydney and our startup community is still a alot smaller than many other parts of the world. Locally there are not that many teams and our weekly nReduce gathering is small. That hasnt mattered though because the real power so far has been the feedback system created by the nReduce team. Every week we post something we would like feedback on, and every week intelligent like minded people from around the world leave their 2c worth of feedback. There is no doubt in my mind that my product,http://authic.com, will be better as a result of that feedback. The fact that teams can be introduced to mentors and investors is just a bonus because the nReduce is already worthwhile without them.
      %br/
      %br/
      %h3{:style => 'color : #25A6E9'} The nReduce program has been really great for my team so far.
      %br/
      %br/
      %p Two months later, I can say that the decision to join nReduce was a right one. The requirement to ship every week keeps you motivated; this is exactly what I needed. As I said in my intro video, "My name is Alexander and I never finish (personal) projects." I'm sure there are many other developers who have 90%-ready projects but never get to showing them to the public.
      %br/
      %br/
      If you are one of these guys, consider joining nReduce. It's been two months now and Feetlot.com just got its first users (who are loving it; and if you buy shoes online, check it out). I honestly think that if I hadn't joined nReduce, there would have been no alpha by now.
      %br/
      %br/
      There is one month left till the demo day but already now I can say that I've reached my initial goal of launching an alpha and getting first visitors. Thank you, nReduce. Keep it up!
      %br/
      %br/
      %h2 Another startup guy at nReduce here. Because of the time differences (I'm in India) I'm not able to participate actively in the community. I know I should learn to wake up early. What has really helped me are the weekly builds. I just missed uploading one update and I'm feeling so bad I couldn't do it on time. Needless to say, you get what you put in to the program. So far, it's been a self discipling tool for me.
      %br/
      %br/
      %h4 We've (www.re51labs.com) have had a similar experience with the NYC nReduce group, in that the in-person meetings have created a great forum for entrepreneurs working across a variety of projects to collaborate and share knowledge and ideas. I've also personally found the video check-ins helpful, as they require me to evaluate the progress made the previous week and lay out clear deliverables for the next week. This is not unlike standard management practice in many large organizations. We are finding the in-person meetings to be much more valuable than the virtual meetings; this may have something to do with NYC's culture vs. the Valley's, and the intangible value of forging in-person connections that can't be replicated virtually. Joe and Josh have clearly tapped into an important need and in the absurdly crowded world of NYC tech meetups, the nReduce concept has created a uniquely valuable environment for facilitating progress.


    .span5
      %h2 nReduce has been really interesting and done a good job of trying for something different than YCombinator. In many ways it's much more of a complement to traditional startup incubators than a competitor.
      %h3 Of the startups that I partnered with since June, about 15% have gone on to geographically located accelerators, a few have been acquired/hired for their product, a few have launched and not really gone anywhere and about half never got as far as launching a product.
      %br/
      %br/
      %h2{:style => 'color : #25A6E9 '} Personally, I've gotten a huge amount of constructive feedback and a good handful of solid beta testers for my project.
      %br/
      %br/
      %h4 We've received a lot of constructive feedback from other startups over the last couple months in nReduce, and it has generally been a nice experience. For that reason alone, it has been pretty valuable to us.
      %br/
      %br/
      %h3 nReduce has been invaluable for us at PolarMeter. We especially benefited from the weekly kick-in-the-butt to show what you've accomplished, the honest no-bs feedback from other founders and the chance to meet and build relationships with other teams during nReduce Tuesdays.
      %br/
      %br/
      %p{:style => 'color : #25A6E9'} nReduce is helping my startup www.cmchub.com (Christian musician community) substantially!  Posting weekly before and after videos is something so small, but at the same time, so huge and helpful in many ways.  It allows me to stay focused and receive insights and encouragement from other startups.  
      %br/
      %br/
      %h2 Another nReducer here - we're on a distributed team, and bootstrapping. Since making a team-wide move was not a possibility for us, nReduce has been an amazing opportunity.
      %br/
      %br/
      Great work so far from the nReduce team, and the startup team interactions are super-helpful.
      %br/
      %br/
      %h4 nReduce has been great for Spark. The weekly checkins, combined with frank advice from our fellow teams, makes for a serious kick in the pants drive to ship constantly.
      %br/
      %br/
      I would recommend nReduce for any startup.
      %br/
      %br/
      %b  hackerbeers is based in Beijing, which makes it a little more troublesome to get access to advice, mentors and users. Joe Mellin  and his team did us a big favor with founding nReduce . We did some changes on our product (you can call it a pivot) and we used the weekly progress update to get some feedback from our fellow founders from India, US, Italy and our mentor on the platform. Within half a day we had 50 spot on comments that helped a lot to make a decision. 
      %br/
      %br/
      %h3 I have had an amazing experience with the nReduce program. The weekly updates create that extra push you need sometimes as an independent entrepreneur struggling to launch a startup. The feedback from other nReducers has been priceless. Not only motivational feedback, but really great ideas and connections. I have been able to meet so many entrepreneurs and I have had a blast doing what I can to help everybody else in the program. I highly recommend anyone out there with a startup or a totally new idea to get on board with nReduce and to make things happen. I am in Houston, Texas and have not been able to meet any local nReducers yet, but the online community alone is exceptional. nReduce is something I would pay for but its free!
  %br/
  %br/
  %hr/
  .row.center{:style => 'padding-top:60px; padding-bottom: 20px'}
    %h1 Okay... How about now? :)
    %p pssst... it is awesome!
  .row.center{:style => 'padding-top: 100px; padding-bottom:50px'}
    %h1= link_to "Join Now".html_safe, sign_up_path, :class => "btn btn-success btn-large", :title => 'Join Now', :style => 'font-size: 80px; line-height'

/ FACEBOOK CONNECT
:plain
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=212738105491822";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

 