.home_page{:class => @demo_day.present? ? 'demo_day' : ''}
  .row
    .span12.background-field{:align => 'center'}
      - if @demo_day.present?
    
        = image_tag 'nstar_halo.png', :style => 'width: 184px; height: 165px;'
        - if @demo_day.in_the_future?
          = render 'layouts/countdown', :time => @demo_day.starts_at
          %br/
          .enter_button= link_to "Enter Demo Day".html_safe, '#', :class => 'btn btn-large disabled'
        - elsif @demo_day.in_time_window?
          %h2 #{@demo_day.day.strftime('%B %Y')} nStar Demo Day
          %br/
          .enter_button= link_to "Meet the Winners".html_safe, '/d', :class => 'btn btn-large btn-success'
      - else
        %h1.headline.center
          %b nReduce is a Free Online Startup Incubator
        %br/
        .subhead.center Join These Global Entrepreneurs in the Next nReduce Class
        %br/
        = render 'weekly_classes/map'
      %br/
      %br/
      .left.share_btns
        .twitter.left
          :plain
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.nreduce.com" data-text="An alliance of founders working together to build Amazing Companies" data-via="nReduce">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .facebook.left
          :plain
            <div class="fb-like" data-href="http://www.nreduce.com" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="lucida grande"></div>
        - unless @demo_day.present?
          .right{:style => 'margin-left: 249px; font-weight: bold; font-size: 1.4em'}=link_to 'Meet the nStars','http://www.nreduce.com/d'
        .clear
      
      .right.newslogo{:style => 'margin-bottom: 10px'}= link_to image_tag('venturebeat.png'), 'http://venturebeat.com/2012/09/05/nreduce-demo-day/', :target => '_blank'
      .right.newslogo= link_to image_tag('pando.png'), 'http://pandodaily.com/2012/07/27/virtual-incubator-to-all-nreduce-adds-mentors-and-demo-days-is-it-the-pre-angellist/', :target => '_blank'
      .clear
  %hr
  
  .middle_container
    .row.center{:style => 'margin-bottom: 20px'}
      %h2 How it Works for Founders
    .row
      .span4
        .benefit
          %h3 Founders Work Wednesday to Tuesday
          %p Every nReduce startup is on the same weekly schedule.  Set a goal on Wednesday.   Show your progress on Tuesday. 
      .span4
        .benefit
          %h3 Startups Connect with Each Other
          %p Each Startup connects with 4-8 other startups to share weekly progress and give / get feedback. 
    .row
      .span4
        .benefit
          %h3 Founders Earn Mentorship
          %p Companies who are active and meet requirements earn mentorship from our amazing nReduce mentor network.
      .span4
        .benefit
          %h3 Startups Get Discovered by Investors
          %p Startups who are interested in fundraising in the future can start to build relationships with potential investors. 
    .row
      .span4
        .benefit
          %h3 Successful Startups Become nStars
          %p Startups who are the best in nReduce become an nStar and are featured in our monthly online demo day. 
      .span4
        .benefit
          %h3 All for $0 and No Equity
          %p We charge investors and service providers so nReduce is free to Founders. Yep, that's right, Free! Pretty Cool, Huh? :) 

  %br/
  %hr
  %br/
  .row
    .span1
      %p
    .span10
      .scriptfeature
        "Our goal for nReduce is to improve the way 
        %b every startup
        in the world executes on their idea.
        We see startups as the  
        %b embodiment of hope 
        and the ability of an individual to 
        %b change the world.  
        We are building nReduce to make these 
        %b courageous people
        better at what they do."
    .span1
      %ps
  %br/

/ FACEBOOK CONNECT
:plain
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=212738105491822";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

 