.row.center{:style => 'padding-top:20px; padding-bottom:40px'}
  %h1 Awesome Mentors Holding 15 Minute Tele-Office Hours This Week
%hr/
.row{:style => 'padding-left: 20px'}
  .row{:style => 'padding-top:10px; padding-bottom:10px'}
    .span5.center
      %b Mentor
    .span2
      %p
    .span1
      %b Time
    .span2{:style => 'padding-left:30px'}
      %b Availablity

  .row 
%hr
.row{:style => 'padding-bottom: 50px; padding-top:40px'}
  .span2
    = image_tag 'tyler.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-bottom:10px; padding-top:5px'}
      %h1= link_to 'Tyler York', '#'
    .row{:style => 'padding-bottom:5px'}
      %b{:style => 'font-size:14px'} I've built Betable's marketing program from the ground up.
    .row{:style => 'padding-bottom:5px'}
      %p Skills : Marketing, Blogging, User Experience
      %p{:style => 'line-height : 10px'} Berkeley, CA, US
    .row
      = image_tag 'blog.png'
  .span2.center{:style => 'padding-top:35px'}
    %h3 Tuesday 
    %h4 Nov 12th  
    %h3 3:30 pm GMT
  .span1.center{:style => 'padding-top:20px'}
    %br
    = image_tag 'open2.png'
  .span2.center{:style => 'padding-top:52px'}
    = link_to 'Claim Now!','#', :class => 'btn btn-large btn-success'

.row{:style => 'padding-bottom: 50px'}
  .span2
    = image_tag 'derek.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-bottom:10px; padding-top:5px'}
      %h1= link_to 'Tyler York', '#'
    .row{:style => 'padding-bottom:5px'}
      %b{:style => 'font-size:14px'} I've built Betable's marketing program from the ground up.
    .row{:style => 'padding-bottom:5px'}
      %p Skills : Marketing, Blogging, User Experience
      %p{:style => 'line-height : 10px'} Berkeley, CA, US
    .row
      = image_tag 'blog.png'
  .span2.center{:style => 'padding-top:35px'}
    %h3 Tuesday 
    %h4 Nov 12th  
    %h3 3:30 pm GMT
  .span1.center{:style => 'padding-top:20px'}
    %br/
    = image_tag 'team1.png'
  .span2.center{:style => 'padding-top:52px'}
    = link_to 'Already Claimed','#', :class => 'btn btn-large disabled'
    %br
    %p{:style => 'color:#cccccc; padding-top:5px'} 
      By Team nReduce
      %br 1 Hour Ago


.row{:style => 'padding-bottom: 50px'}
  .span2
    = image_tag 'alison.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-bottom:10px; padding-top:5px'}
      %h1= link_to 'Tyler York', '#'
    .row{:style => 'padding-bottom:5px'}
      %b{:style => 'font-size:14px'} I've built Betable's marketing program from the ground up.
    .row{:style => 'padding-bottom:5px'}
      %p Skills : Marketing, Blogging, User Experience
      %p{:style => 'line-height : 10px'} Berkeley, CA, US
    .row
      = image_tag 'blog.png'
  .span2.center{:style => 'padding-top:35px'}
    %h3 Tuesday 
    %h4 Nov 12th  
    %h3 3:30 pm GMT
  .span1.center{:style => 'padding-top:20px'}
    %br/
    = image_tag 'team3.png'
  .span2.center{:style => 'padding-top:52px'}
    = link_to 'Already Claimed','#', :class => 'btn btn-large disabled'
    %br
    %p{:style => 'color:#cccccc; padding-top:5px'} 
      By Team Hearts
      %br 1 Hour Ago
.row{:style => 'padding-bottom: 50px'}
  .span2
    = image_tag 'alison.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-bottom:10px; padding-top:5px'}
      %h1= link_to 'Tyler York', '#'
    .row{:style => 'padding-bottom:5px'}
      %b{:style => 'font-size:14px'} I've built Betable's marketing program from the ground up.
    .row{:style => 'padding-bottom:5px'}
      %p Skills : Marketing, Blogging, User Experience
      %p{:style => 'line-height : 10px'} Berkeley, CA, US
    .row
      = image_tag 'blog.png'
  .span2.center{:style => 'padding-top:35px'}
    %h3 Tuesday 
    %h4 Nov 12th  
    %h3 3:30 pm GMT
  .span1.center{:style => 'padding-top:20px'}
    %br/
    = image_tag 'team2.png'
  .span2.center{:style => 'padding-top:52px'}
    = link_to 'Already Claimed','#', :class => 'btn btn-large disabled'
    %br
    %p{:style => 'color:#cccccc; padding-top:5px'} 
      By Team WeedWall
      %br 1 Hour Ago