.row.center{:style => 'padding-top:20px; padding-bottom:40px'}
  %h1 Mentors Holding 15 Minute Tele-Office Hours This Week
%hr/
.row{:style => 'padding-left: 20px'}
  .row{:style => 'padding-top:10px; padding-bottom:10px'}
    .span5.center
      %b Mentor
    .span6.center
      %b Available Office Hour Appointments
  .row 
%hr
.row{:style => 'padding-bottom: 30px; padding-top:30px'}
  .span2
    = image_tag 'tyler.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-top: 10px; padding-bottom:10px'}
      %h2= link_to 'Tyler York', '#'
      %h3 Tuesday Nov 12th  @ 3:30 pm GMT
    .row{:style => 'padding-bottom:10px'}
      %b I've built Betable's marketing program from the ground up.
    .row
      = image_tag 'blog.png'
  .span5{:style => 'padding-left: 20px; padding-top: 10px'}
    .row
      .span1.well.center 
        %b Registered Startup
        = image_tag 'open.png'
      .span1{:style => 'padding-top:30px'}
        %p Alternate #1
        = image_tag 'blank.png'
      .span1{:style => 'padding-top:30px'} 
        %p Alternate #2
        = image_tag 'blank.png'
      .span1{:style => 'padding-top:60px'}
        = link_to 'Register Now!','#', :class => 'btn btn-large btn-success'

.row{:style => 'padding-bottom: 30px'}
  .span2
    = image_tag 'derek.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-top: 10px; padding-bottom:10px'}
      %h2= link_to 'Derek Yeves', '#'
      %h3 Wednesday Nov 13th  @ 6:30 pm GMT
    .row{:style => 'padding-bottom:10px'}
      %b I am a sales force guru!
    .row
      = image_tag 'blog.png'
  .span5{:style => 'padding-left: 20px; padding-top: 10px'}
    .row
      .span1.well.center 
        %b Registered Startup
        = image_tag 'team3.png'
      .span1{:style => 'padding-top:30px'}
        %p Alternate #1
        = image_tag 'blank.png'
      .span1{:style => 'padding-top:30px'} 
        %p Alternate #2
        = image_tag 'blank.png'
      .span1{:style => 'padding-top:60px'}
        = link_to 'Be An Alternate','#', :class => 'btn btn-large'


.row{:style => 'padding-bottom: 30px'}
  .span2
    = image_tag 'alison.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-top: 10px; padding-bottom:10px'}
      %h2= link_to 'Alison Wong', '#'
      %h3 Friday Nov 15th  @ 9:30 am GMT
    .row{:style => 'padding-bottom:10px'}
      %b I love building great company culture.
    .row
      = image_tag 'blog.png'
  .span5{:style => 'padding-left: 20px; padding-top: 10px'}
    .row
      .span1.well.center 
        %b Registered Startup
        = image_tag 'team1.png'
      .span1{:style => 'padding-top:30px'}
        %p Alternate #1
        = image_tag 'team2.png'
      .span1{:style => 'padding-top:30px'} 
        %p Alternate #2
        = image_tag 'blank.png'
      .span1{:style => 'padding-top:60px'}
        = link_to 'Be An Alternate','#', :class => 'btn btn-large'
.row{:style => 'padding-bottom: 30px'}
  .span2
    = image_tag 'alison.png'
  .span4{:style => 'padding-left: 20px'}
    .row{:style => 'padding-top: 10px; padding-bottom:10px'}
      %h2= link_to 'Alison Wong', '#'
      %h3 Friday Nov 15th  @ 9:30 am GMT
    .row{:style => 'padding-bottom:10px'}
      %b I love building great company culture.
    .row
      = image_tag 'blog.png'
  .span5{:style => 'padding-left: 20px; padding-top: 10px'}
    .row
      .span1.well.center 
        %b Registered Startup
        = image_tag 'team1.png'
      .span1{:style => 'padding-top:30px'}
        %p Alternate #1
        = image_tag 'team2.png'
      .span1{:style => 'padding-top:30px'} 
        %p Alternate #2
        = image_tag 'team3.png'
      .span1{:style => 'padding-top:60px'}
        = link_to 'Be An Alternate','#', :class => 'btn btn-large disabled'
