.row.onboard
  .row.center{:style => 'padding-top:20px; padding-bottom:100px'}
    %h1{:style => 'font-size:50px'} How Can nReduce Help Your Startup?
  .row
    .span2{:style => 'padding-top:20px; padding-bottom:40px'}
      %p/
    .span8
      %b{:style => 'font-size:25px'} 1) You get weekly feedback from fellow startup founders.
    .span2
  .row
    .span2
      %p
    .span8
      .center= image_tag 'helpfromfounders.png'
    .span2
      %p
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 2) You get help and advice from nReduce Mentors
    .span2
  .row
    .span2
      %p
    .span8
      .center= image_tag 'mentors.jpg'
    .span2
      %p
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 3) Get the chance to be seen by investors and early adopters.
    .span2
  .row
    .span2
      %p
    .span8
      .center= image_tag 'investors.jpg'
    .span2
      %p/
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 4) You rely on proven productivity methods to keep you focused.
    .span2
  .row
    .span2
      %p
    .span8
      .center= image_tag 'weekbig2.jpg'
    .span2
      %p/
  .row.center{:style => 'padding-top:100px; padding-bottom: 20px'}
    %h1{:style => 'font-size:50px'} Ready to Join?
  .row.center{:style => 'padding-top: 40px; padding-bottom:50px'}
    %h1= link_to "Join Now".html_safe, sign_up_path, :class => "btn btn-success btn-large", :title => 'Join Now', :style => 'font-size: 80px; line-height'
    %p{:style => 'padding-top:30px; font-size:20px; color:#666666'} It's Free!  $0 & 0% Equity
