- in_time_window = demo_day.in_time_window?
- startups = demo_day.startups
.row.header
  .span3{:align => 'right'}= image_tag 'nstar_s.png', :style => 'width: 75px; height: 63px'
  .span6
    %center
      %h1= link_to "The Amazing #{Time.parse("#{demo_day.day} 11:00:00").strftime('%B %Y')} nStars", demo_day
      - unless in_time_window
        %p{:style => 'padding-top: 10px'} Meet the Best nReduce Startups the First Wednesday of Each Month
  .span3= image_tag 'nstar_s.png', :style => 'width: 75px; height: 63px'
%hr/
%br/
- if demo_day.day.to_s == '2012-10-03'
  %center
    :plain
      <iframe src="http://player.vimeo.com/video/50698479" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  %br/
.relationships.teams
  .row
    - c = 0
    - startups.each do |s|
      - this_startup_url = show_startup_demo_day_path(demo_day, s)
      - logo_path = s.logo_url(:square)
      - owner = (user_signed_in? && !current_user.startup_id.blank? && (s.id == current_user.startup_id))
      .span3{:align => 'center'}
        .team_name= link_to owner ? 'You' : truncate(s.name, :length => 20), this_startup_url
        .one_liner= s.one_liner
        .team
          .top{:align => 'center', :onclick => "window.location = '#{this_startup_url}';"}
            .background{:style => "background-image: url('#{logo_path}'); cursor: pointer;"} &nbsp;
            .members{:align => 'center'}
              - s.team_members.shuffle.first(3).each do |tm|
                .inline-block{:style => 'margin-left: 4px'}= image_tag(user_avatar_url(tm), :title => tm.name, :style => 'width: 50px; height: 50px;')
          .bottom{:align => 'center'}
            - if in_time_window
              - if owner
                = link_to 'Start Your Video Chat', this_startup_url, :class => 'btn btn-primary'
              - else
                = link_to 'Meet the Founders', this_startup_url, :class => 'btn btn-success'
              - unless @question_count[s.id].blank?
                %p= pluralize(@question_count[s.id], 'question')
            - else
              = link_to 'View Startup', this_startup_url, :class => 'btn btn-success'
      - c += 1
      - if c != 0 && (c % 4 == 0)
        .row

- if demo_day.day.to_s == '2012-09-05' #demo_day.in_the_past?
  %hr/
%hr/
.row.attendees
  .span3
    %h2 Attendees
  - if in_time_window
    .span5
      %p To record that you attended the first nReduce Demo Day simply ask a question of a team, or click the “I attended!” button. Attendees will be visible on the nStar Demo Day page for all time.
    .span4{:align => 'right'}
      %h3
        - if user_signed_in? && demo_day.is_attendee?(current_user)
          You're Attending
        - else
          = link_to_login "I attended!".html_safe, attend_demo_day_path(demo_day), :method => :post, :class => 'btn btn-large'
.row{:style => 'margin-bottom: 20px'}
  .span12
    - demo_day.attendees.each do |u|
      - next if u.twitter.blank?
      .left.attendee= link_to image_tag(user_avatar_url(u), :title => u.name, :alt => u.name), url_for_twitter(u.twitter), :target => '_blank'
    .clear
%hr/
%br/
%br/