- body_attrs :class => "apply"

- content_for :subtitle do
  Apply as a Mentor

.container
  .logo
  %h2 Help Mentor nReduce Summer 2012 Batch

  .row.intro-text
    .span7
      %p Your involvement is crucial for the success of the nReduce community and will help talented and passionate entrepreneurs to build great companies.  We are honored by your shared excitement and participation.  Mentoring nReduce is a very informal role and ultimately is negotiated between yourself and the team(s) you choose to mentor.

      %p
        %strong ** Your personal details (phone, email, twitter) will never be given to anyone<br>without your express permission.


  .row
    .span12
      = semantic_form_for @mentor, :html => {:class => "form-horizontal"} do |f|

        .control-group{error_css(@mentor, :name)}
          = f.label :name, "Name:"
          .controls
            = f.text_field :name, :class => "span4"
            = f.semantic_errors :name

        .control-group{error_css(@mentor, :email)}
          = f.label :email, "Email:"
          .controls
            = f.text_field :email, :class => "span4"
            = f.semantic_errors :email

        /
        .control-group{error_css(@mentor, :twitter)}
          = f.label :twitter, "Twitter:"
          .controls
            = f.text_field :twitter, :class => "span4"
            = f.semantic_errors :twitter
        /
        .control-group{error_css(@mentor, :phone_number)}
          = f.label :phone_number, "Phone Number:<br>(optional)".html_safe
          .controls
            = f.text_field :phone_number, :class => "span4"
            = f.semantic_errors :phone_number
        /
        /
        .control-group{error_css(@mentor, :linkedin_url)}
          = f.label :linkedin_url, "LinkedIn URL:<br>(optional)".html_safe
          .controls
            = f.text_field :linkedin_url, :class => "span5"
            = f.semantic_errors :linkedin_url
        /
        / .control-group{error_css(@mentor, :angellist_url)}
        /   = f.label :angellist_url, "AngelList URL:"
        /   .controls
        /     = f.text_field :angellist_url, :class => "span5"
        /     = f.semantic_errors :angellist_url

        / /
        / .control-group{error_css(@mentor, :other_urls)}
        /   = f.label :other_urls, "Other URLs:<br>(blog, portfolio, etc)".html_safe
        /   .controls
        /     = f.text_area :other_urls, :class => "span5", :rows => 4
        /     = f.semantic_errors :other_urls
        / /
        / .control-group{error_css(@mentor, :topic)}
        /   = f.label :topic, "Topic of Expertise:".html_safe
        /   .controls
        /     = f.text_field :topic, :class => "span4"
        /     = f.semantic_errors :topic
        / /
        / .control-group{error_css(@mentor, :topic_describe)}
        /   = f.label :topic_describe, "Describe your experience:<br>(optional)".html_safe
        /   .controls
        /     = f.text_area :topic_describe, :class => "span5", :rows => 4
        /     = f.semantic_errors :topic_describe

        %hr
        .control-group.yes-no{error_css(@mentor, :agree1)}
          .row
            .span9
              %p Can you allocate 1 hour a week (we'll work around your schedule) to help nReduce startups?

          = f.select :agree1, Settings.yes_no_options, :prompt => ""
          = agree_error_msg(@mentor, :agree1)

        %hr
        .control-group.yes-no{error_css(@mentor, :agree2)}
          .row
            .span9
              %p Would you be willing to attend a dinner (not required), give a short 10min talk, and maybe answer a few questions?
          = f.select :agree2, Settings.yes_no_options, :prompt => ""
          = agree_error_msg(@mentor, :agree2)


        .form-actions
          = f.submit "Submit", :class => "btn btn-primary btn-large"