- content_for :subtitle do
  Discover Mentors

.mentors.search
  = form_tag search_mentors_path, :method => :post, :class => 'form-inline' do
    .row
      .span2{:align => 'right'}
        %p &nbsp;
        %h4 Find a Mentor
      .span3
        %p
          %small Industries
        = text_field_tag 'search[industries]', @search[:industries], :class => 'input-large industries_list_autocomplete'
      .span3
        %p
          %small Skills
        = text_field_tag 'search[skills]', @search[:skills], :class => 'input-large skills_list_autocomplete'
      .span4
        %p &nbsp;
        = submit_tag 'Search', :class => 'btn btn-large'
        &nbsp;&nbsp;
        = link_to 'Reset', search_mentors_path
  %hr/

  - if @search_results.hits.size > 0
    .row
      .span1
        %p &nbsp;
      .span11
        - if @search_results.results.total_pages > 1
          %h3{:style => 'color: #ccc'} Page #{@search_results.results.current_page} of #{@search_results.results.total_pages}

    - @search_results.each_hit_with_result do |hit, user|
      .row{:id => "user_#{user.id}"}
        .span1
          %p &nbsp;
        .span3{:style => 'margin-bottom: 20px'}= image_tag user.pic_url(:square), :width => 200, :height => 200
        .span5{:style => 'margin-bottom: 20px'}
          %h2= link_to h(user.name), user
          %h3= h(user.one_liner)
          %p
            %small
              Skills:
              - unless hit.stored(:skills_cached).blank?
                = hit.stored(:skills_cached).join(', ')
          %p
            %small
              Industries:
              - unless hit.stored(:industries_cached).blank?
                = hit.stored(:industries_cached).join(', ')
          %p
            %small Located: #{h(user.location)}
          - unless user.linkedin_url.blank?
            = link_to image_tag('linkedin_32.png'), user.linkedin_url, :target => '_blank'
          - unless user.twitter.blank?
            = link_to image_tag('twitter_32.png'), "https://twitter.com/#!/#{user.twitter.sub('@', '')}", :target => '_blank'
          - unless user.github_url.blank?
            = link_to image_tag('github_32.png'), user.github_url, :target => '_blank'
          - unless user.dribbble_url.blank?
            = link_to image_tag('dribbble_32.png'), user.dribbble_url, :target => '_blank'
          - unless user.blog_url.blank?
            = link_to image_tag('blog_32.png'), user.blog_url, :target => '_blank'
          - unless user.facebook_url.blank?
            = link_to image_tag('facebook_32.png'), user.facebook_url, :target => '_blank'\
        .span3
          - unless user.rating.blank? or user.rating == 0
            != rating_link(user, true)
          - unless hit.stored(:num_mentoring) == 0
            %br/
            %p
              %small Mentoring
            %h3= pluralize(hit.stored(:num_mentoring), 'startup')
          &nbsp;
      %hr
      %br


    = will_paginate @search_results.results
  - else
    %h4 No mentors matched your search