= semantic_form_for [@request, @response], :html => {:class => 'form-horizontal'} do |f|
  - c = 0
  - @response.questions.each do |q|
    .control-group
      = f.label :data, q, :class => 'control-label'
      .controls
        = text_field_tag "response[data][#{c}]", @response.data[c], :class => 'span4'
    - c += 1

  .control-group
    .controls
      = f.submit 'Respond', :class => 'btn btn-large btn-info'