= semantic_form_for [@request, @response], :html => {:class => 'form-horizontal'} do |f|
  
  - unless @response.questions_are_answered
    - c = 0
    - @response.questions.each do |q|
      .control-group
        = f.label :data, q, :class => 'control-label'
        .controls
          = text_field_tag "response[data][#{c}]", @response.data[c], :class => 'span4'
      - c += 1

  .center{:style => 'margin-top: 30px'}= f.submit @response.request_type.to_s.titleize, :class => 'btn btn-large btn-success'