.row
  .span5
    .instructions
      %h3 Instructions:
      = simple_format(h(@request.data['instructions']))
  .span2
    .center.start_video= link_to 'Start', '#', :onclick => "$('.response_video_wrapper').show(); $('.start_video').hide(); startRecording(); return false;", :class => 'btn btn-large btn-success'
  .span5
    .right.response_video_wrapper.hide
      - if @response.video.present?
        = f.fields_for :video do |v|
          = render 'videos/form', :show_video_type => :screenr, :f => v, :title => 'Usability Test Video'
    .clear
.website
  .right.new_window= link_to_external "Open website in new window", @request.data['url'], :source => 'usability_test'
  .left
    %h3 Website that you're testing:
  .clear
  %iframe.iframe{:width => '100%', :height => 600, :frameborder => 0, :src => @request.data['url']}

.howto_modal.modal.hide
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
    %h2 How to do a usability test
  .modal-body
    :plain
      <iframe width="560" height="315" src="http://www.youtube.com/embed/w-llZmPPNwU" frameborder="0" allowfullscreen></iframe>