<div class="row">
  <div class="span8">
    <h1>Startups (<%= @startups.count %>)</h1>
  </div>
  <div class="filter span4">
    <%= select_tag "view", options_for_select([["Show All", ""]]+Meeting.select_options, params[:view]), :id => "view" %>
  </div>
</div>

<br>

<table id="startupTable" class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th class="yellow">Date (PST)</th>
      <th class="yellow">Startup Name</th>
      <th class="blue">Location</th>
      <th class="span2">Members</th>
    </tr>
  </thead>
  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td data-val="<%= startup.created_at.to_i %>">
          <%= raw startup.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y&nbsp;%l:%M%p") %>
        </td>
        <td><%= startup.name %></td>

        <td>
          <%= !startup.meeting_id.blank? ? startup.meeting.name : 'None' %>
        </td>

        <td><%= link_to startup.team_members.count, "/admin/startups/#{startup.id}" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :js do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function($) {
      $("#startupTable").tablesorter({
        textExtraction: function(node) {
          var val = $(node).data("val");
          if(val) {
            return val;
          }
          else {
            return $(node).text();
          }
        }
      });

      $("#view").on("change", function(e) {
        var view = $(this);
        window.location = "/admin/startups?view="+view.val();
      });
    });
  </script>
<% end -%>
