.row
  .span12
    %h2 Sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :clas => 'form-horizontal' }) do |f|
      = link_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-primary btn-large"
      .control-group
        = f.label :email, :class => 'control-label'
        .controls= f.email_field :email
      .control-group
        = f.label :password, :class => 'control-label'
        .controls= f.password_field :password
      - if devise_mapping.rememberable?
        .control-group
          = f.check_box :remember_me
          .controls= f.label :remember_me, :class => 'control-label'
      .form-actions= f.submit "Sign in"
    = render :partial => "devise/shared/links"
