-# Doc: http://api.highcharts.com/highchart
- measurements = @instrument.measurements.ordered_asc.all

#chart.chart
:plain
  <script type="text/javascript">
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'chart',
        type: 'area'
      },
      title: {
        text: '#{h(@instrument.name)}'
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      xAxis: {
        labels: {
          formatter: function() {
            return this.value;
          }
        },
        categories: [#{measurements.map{|m| "'#{m.created_at.strftime('%b %d')}'" }.join(',')}]
      },
      yAxis: {
        title: {
          enabled: false
        },
        labels: {
          formatter: function() {
            return this.value;
          }
        }
      },
      plotOptions: {
        area: {
          marker: {
            enabled: false,
            symbol: 'circle',
            radius: 2,
            states: {
              hover: {
                enabled: true
              }
            }
          }
        }
      },
      series: [{
        name: '#{h(@instrument.name)}',
        data: [#{measurements.map{|m| m.value }.join(',')}]
      }]
    });
  });
  </script>