.investors
  - if current_user.investor?
    %h1 Investors

    - if can? :investor_connect_with_startups, current_user
      %h2= link_to 'Show me the money!', show_startup_investors_path, :class => 'btn btn-large btn-success', :style => 'font-size: 60px;'
    - else
      %p You have already connected with one startup this week. Please come back next Tuesday at 4pm PST to see more startups, or upgrade your account.

  - elsif current_user.entrepreneur?
    .startup
      - investor_profile_class = current_user.startup.investable? ? '' : 'hide'
      = form_for current_user.startup, :url => '/startup/', :remote => true, :html => {:class => 'form-horizontal startup'} do |f|
        .row
          .span8
            %h1
              %small Investor Profile
          .span4{:align => 'right'}
            .left I am seeking investment
            .left{:style => 'margin-left: 10px'}= f.check_box :investable, :class => 'investable'
            .clear

        %hr/
        %br/
        .row
          .span3
            %p
          .span6
            %center
              %br/
              %br/
              %br/
              = image_tag('nstar_m.png')
              %br/
              %br/
              %br/
              %h1 Interested in being featured in the September 5th nStar Online Demo Day?
              %br/
              %h3 To apply set your seeking investment setting to yes.
              %br/
              
        .row
          .span9
            .investor_profile{:class => investor_profile_class}
              %br/
              %h1  Build Your Investment Profile
              %p To be eligible for the demo day, you need to complete the following items by 8/7/2012.

              %h2 1) Your nReduce Themed Elevator Pitch
              %h3 A) Use our template pitch deck, and record a short video pitch.
              %p It is requried that you use the exact theme provided.  Do not change the background, font size or slide order / prompts.  We ask that you do this so that we can quickly communicate your idea to investors. 
              %h3 B) Record a max 30sec screen capture of you talking over the slides. 
              %p Suggestion : Use Screenr.com
              %h3 C) Upload to Youtube and set the privacy setting to discrete.
              %h3 D) Submit your pitch Video Below
              .control-group{:style => 'margin-bottom: 0'}
                = f.label :pitch_video_url, :class => 'control-label'
                .controls
                  = f.text_field :pitch_video_url, :placeholder => 'http://www.youtube.com/watch?v=088YM4pB9lM', :class => 'span4'
                  %p.help-text 60 seconds, unlisted YouTube video
              .control-group
                .controls= f.submit 'Save', :class => 'btn'

            .investor_profile{:class => investor_profile_class}
              %h2 2) Teammate Intro Videos
              %p These are designed to give investors a good idea of the personalities and skillsets of your team. You'll need to ask each team member to login and post them to their profile.
              %p The videos should be 30 seconds each, unlisted YouTube video. Users with a check mark have completed their videos:
              - current_user.startup.team_members.each do |u|
                .left{:style => 'margin-right: 15px'}
                  - if !u.intro_video_url.blank?
                    %i.icon-ok
                  - else
                    %i.icon-remove
                  = u.name
              .clear
              %br/
              %h3 Product Screenshot
              %p Upload up to #{Startup::NUM_SCREENSHOTS} screenshots of your product on the #{link_to('edit startup profile page', edit_startup_path(@startup))}.
              - c = 0
              - current_user.startup.screenshots.each do |ss|
                .screenshot.left= image_tag ss.image_url(:small)
                - c += 1
              - c.upto(Startup::NUM_SCREENSHOTS - 1).each do |i|
                %i.icon-remove
                Screenshot
                &nbsp;
          .span4{:style => 'margin-top: 235px'}
            .investor_profile{:class => investor_profile_class}= render 'users/profile_completeness', :title => 'Investor Profile'


