.investors
  - if current_user.investor?
    %h1 Investors

    - if can? :investor_connect_with_startups, current_user
      %h2= link_to 'Show me the money!', show_startup_investors_path, :class => 'btn btn-large btn-success', :style => 'font-size: 60px;'
    - else
      %p You have already connected with one startup this week. Please come back next Tuesday at 4pm PST to see more startups, or upgrade your account.

  - elsif current_user.entrepreneur?
    .startup
      - investor_profile_class = current_user.startup.investable? ? '' : 'hide'
      = form_for current_user.startup, :url => '/startup/', :remote => true, :html => {:class => 'form-vertical startup'} do |f|
        .row
          .span8
            %h1
              %small Get Discovered By Investors
          .span4{:align => 'right'}
            .left
              %h3 Seeking investment?
            .left{:style => 'margin-left: 10px'}= f.check_box :investable, :class => 'investable'
            .clear

        %hr/
        %br/
        .row.investor_profile{:class => investor_profile_class}
          .span8
            %h3 Complete your investment profile by August 8th to be considered for our September 5th Demo Day.

            %br/
            %h3 1) nReduce Themed Elevator Pitch
            %p The point is to communicate your idea as quickly as possible in a way that is easily digestable for investors.

            %ol.myriad_light
              %li Download and use this 4-slide deck. Do not change the font size or any aspect of the presentation - simply enter your answers to the 4 prompts. 
              %li Record a 30 second screen capture of you talking through the 4 slides. Tip: use #{link_to('screenr', 'http://www.screenr.com', :target => '_blank')}.

              %li Upload to #{link_to('Youtube', 'http://www.youtube.com/upload', :target => '_blank')} and set the privacy to unlisted.
              %li
                Submit the link in the form to the right.
                %br/
                %strong Example:
                %br/
                :plain
                  <iframe width="300" height="189" src="http://www.youtube.com/embed/cJNbbIWYtHg?rel=0" frameborder="0" allowfullscreen></iframe>
            %br/
            %h3 2) Team Member Intro Videos
            %p Investors invest in your team. To help them better learn about your team, have each team member record and upload an intro video covering:
            %ol.myriad_light
              %li Who are you?
              %li What have you done?
              %li
                Why are you doing this startup?
                %br/
                %strong Example:
                %br/
                :plain
                  <iframe width="300" height="189" src="http://www.youtube.com/embed/ITq61YDVBbM?rel=0" frameborder="0" allowfullscreen></iframe>

            %p Each team member will have to submit their intro video to their #{link_to('profile page', edit_user_path(current_user))}.
         
            %br/
            %h3 3) Product Shots
            %p Upload #{Startup::NUM_SCREENSHOTS} screenshots or photos of your product. To do so visit your #{link_to('Edit Startup Page', edit_startup_path(@startup))}.
              
          .span4
            = render 'users/profile_completeness', :title => 'Investor Profile'
            %h3 Submit your Pitch Video
            .control-group{:style => 'margin-bottom: 0'}
              .controls
                = f.text_field :pitch_video_url, :placeholder => 'http://www.youtube.com/watch?v=088YM4pB9lM', :class => 'span4'
                %p.help-text 60 seconds, unlisted YouTube video

            .control-group
              .controls= f.submit 'Save', :class => 'btn'

            %h3 Team Member Intro Videos
            - current_user.startup.team_members.each do |u|
              %div
                - if !u.intro_video_url.blank?
                  %i.icon-ok
                - else
                  %i.icon-remove
                = u.name
            
            %h3{:style => 'margin-top: 15px'} Product Shots
            - c = 0
            - current_user.startup.screenshots.each do |ss|
              %div= image_tag ss.image_url(:small)
              - c += 1
            - c.upto(Startup::NUM_SCREENSHOTS - 1).each do |i|
              %div
                %i.icon-remove
                Screenshot




