= semantic_form_for [@startup, @instrument], :remote => true, :html => {:class => 'form-horizontal', :id => 'instrument_form'} do |f|
  = f.hidden_field :startup_id

  .control-group{error_css(f.object, :startup_id)}
    .controls= f.semantic_errors :startup_id

  %center
    = f.label :name, 'What is the most important non-vanity metric that you use to measure the health of your business?'
    %br/
    = f.text_field :name, :placeholder => 'ex: weekly active users, weekly revenue', :style => 'span4'
    %br/
    = f.semantic_errors :name

  .form-actions
    = f.submit 'Save', :class => 'btn btn-large btn-success'