- if @before_disabled == true
  - if @checkin.submitted?
    %h4 'Before' Submitted #{@checkin.submitted_at.to_s(:short)}
- else
  - unless @hide_time
    .control-group
      %strong You have #{verbose_distance_until_time_from_now(Checkin.next_before_checkin)} to make any changes
  .control-group{error_css(@checkin, :start_focus)}
    = f.label :start_focus, "This week's focus", :maxlength => 255, :class => 'control-label'
    .controls
      = f.text_field :start_focus, :class => "span4", :placeholder => "Create a 'mouse' prototype"
      = f.semantic_errors :start_focus

  .control-group{error_css(@checkin, :start_comments)}
    = f.label :start_comments, "Why?", :class => 'control-label'
    .controls
      = f.text_area :start_comments, :size => '120x4', :class => "span4", :placeholder => "Because we want people to have a strong emotional connection with their computers, and we want to test if this device will do so."
      = f.semantic_errors :start_comments

  .control-group{error_css(@checkin, :start_video_url)}
    = f.label :start_video_url, "'Before' Video URL", :class => 'control-label'
    .controls
      = f.text_field :start_video_url, :class => "span4", :placeholder => 'http://www.youtube.com/watch?v=088YM4pB9lM'
      %span.help-inline Unlisted Youtube URL
      = f.semantic_errors :start_video_url

- if @after_disabled == true
  - if @checkin.completed?
    %h4 'After' Submitted #{@checkin.completed_at.to_s(:short)}
- else
  - unless @hide_time
    .control-group
      %strong You have #{verbose_distance_until_time_from_now(Checkin.next_after_checkin)} to make any changes
  .control-group{error_css(@checkin, :end_video_url)}
    = f.label :end_video_url, "'After' Video URL", :class => 'control-label'
    .controls
      = f.text_field :end_video_url, :class => "span4", :placeholder => 'http://www.youtube.com/watch?v=088YM4pB9lM'
      %span.help-inline Unlisted Youtube URL
      = f.semantic_errors :end_video_url

  .control-group{error_css(@checkin, :end_comments)}
    = f.label :end_comments, "What did you learn? / What feedback would you like?", :class => 'control-label'
    .controls
      = f.text_area :end_comments, :size => '120x4', :class => "span4"
      = f.semantic_errors :end_comments

  = f.fields_for :measurement do |m|
    = f.semantic_errors :measurement
    = m.hidden_field :instrument_id, :id => 'instrument_id'
    .control-group{:style => 'margin-bottom: 0'}
      .controls
        - if !m.object.instrument.new_record?
          %strong Your Metric
          %p 
            What is the current value of
            %strong #{m.object.instrument.name}
            ?
        - else
          %p
            %strong= link_to 'Choose Your Metric', '#', :onclick => "$('#instrument_modal').modal(); return false;"
            %br/
            %i Required since you are seeking investment - to show traction to investors
    .control-group{error_css(m.object, :value)}
      = m.label :value, :class => 'control-label'
      .controls
        = m.text_field :value, :class => "span2", :id => 'checkin_instrument_id'
        = m.semantic_errors :value

.form-actions
  = f.submit "Submit Video", :class => "btn btn-primary btn-large"