.checkins
  #checkin_goal.modal.hide
    .modal-header
      %h2 What is your goal for this week?
    .modal-body
      = semantic_form_for @checkin, :url => startup_checkins_path(@checkin.startup) do |f|
        = hidden_field_tag 'force_checkin', true
        = f.hidden_field :startup_id
        = f.text_field :goal, :style => 'height: 30px; line-height:24px; font-size:22px', :class => "span5 checkin_start_focus", :placeholder => "Enter your goal here..."

        .examples
          %b Example Goals:
          %p Talk to 5 users
          %p Build Sign Up Process
          %p Close Seed Round

        = f.submit 'Save', :class => 'btn btn-large btn-success'
    = javascript_tag "$(function(){ $('#checkin_goal').modal();  });"

    