.row
  .span5
    %h3 Did you accomplish last week's goal?
    %h2 #{@checkin.goal.blank? ? '(none)' : h(@checkin.goal)}
    %p{:style => 'padding-top: 0px;'}
    .control-group{error_css(@checkin, :accomplished), :style => 'margin-bottom: 10px'}
      = f.hidden_field :accomplished
      .controls
        .btn-group{'data-toggle' => 'buttons-radio'}
          %button.btn.btn-large.accomplished{:type => 'button', 'data-value' => 'false', :class => (!@checkin.accomplished.nil? && @checkin.accomplished? == false) ? 'active' : ''} Nope :(
          %button.btn.btn-large.accomplished{:type => 'button', 'data-value' => 'true', :class => (!@checkin.accomplished.nil? && @checkin.accomplished? == true) ? 'active' : ''} Heck Yeah!
        = f.semantic_errors :accomplished

    .control-group.pre_launch{:class => @checkin.startup.launched? ? 'hide' : ''}
      .controls
        = hidden_field_tag 'startup[launched]', @checkin.startup.launched?, :id => 'startup_launched'
        %h3 Have you launched to customers?
        .btn-group{'data-toggle' => 'buttons-radio'}
          %button.btn.btn-large{:type => 'button'} No
          %button.btn.btn-large{:type => 'button', :onclick => "$('#startup_launched').val(1); $('.pre_launch').hide(); $('.launched').fadeIn();"} Yes
        %p.help-text
          %i (Privately or Publicly)

    .launched{:class => @checkin.startup.launched? ? '' : 'hide'}
      = f.fields_for :measurement do |m|
        = m.hidden_field :instrument_id, :id => 'checkin_instrument_id'
        .control-group{:style => 'margin-bottom: 0'}
          .controls
            %h3#instrument_name{:class => m.object.instrument.new_record? ? 'hide' : ''}= m.object.instrument.name
            - if m.object.instrument.new_record?
              #instrument_name_form
                %p
                  %h3= link_to '<i class="icon-signal"></i> Choose Your Metric'.html_safe, '#', :onclick => "$('#instrument_modal').modal(); return false;", :class => 'btn btn-large'
                  - if @checkin.startup.launched?
                    %br/
                    %i Required, since you are launched (to show traction &amp; progress)
            = f.semantic_errors :measurement

        #instrument_value{:class => m.object.instrument.new_record? ? 'hide' : ''}
          .control-group{error_css(m.object, :value)}
            .controls
              = m.text_field :value, :class => "span2", :id => 'checkin_measurement_value'
              %span.help-text 
                %i &nbsp;(Past Week)
              = m.semantic_errors :value

    .control-group{error_css(@checkin, :notes), :style => 'margin-top: 10px'}
      %h3 How can your fellow nReducers help you?
      .controls
        = f.text_area :notes, :size => '200x1', :class => "span4 checkin_end_comments", :placeholder => "Give me feedback on..."
        = f.semantic_errors :notes