- body_attrs :class => "apply"

- content_for :subtitle do
  Check-in

.checkins
  %h2.center Weekly Progress Update for #{@checkin.time_label}
  .offset2
    = render 'checkins/nav'

  
  %hr
  = semantic_form_for @checkin, :html => {:class => "form-vertical"} do |f|
    .row
      .span6.offset3= render "checkins/step_#{@current_step || @checkin.current_step}", :f => f
      .span2.offset1
        - if @checkin.current_step == Checkin.steps.size - 1
          = f.submit "Save", :class => "btn btn-success btn-large submit"
        - else
          = f.submit "Continue", :class => "btn btn-large submit"

  = render 'instruments/modal'
