- body_attrs :class => "apply"

- content_for :subtitle do
  Check-in

- hide_nav = @checkin.submitted?

%h2.center Check-in for #{@checkin.time_label}
%hr
.row
  .span3
    %p &nbsp
  .span6
    = semantic_form_for @checkin, :html => {:class => "form-horizontal"} do |f|
      = render 'checkins/fields', :f => f
.row{:style => 'padding-top: 60px'}
  .span4
    %p &nbsp
  .span4.center
    = render 'checkins/before_video_faq'

= render 'instruments/modal'
    