= semantic_form_for @checkin, :url => first_checkins_path, :html => {:class => "form-vertical"} do |f|  
  = f.hidden_field :startup_id
  .row
    .left{:style => 'margin-left: 25px'}= link_to image_tag('nglow.png'), '#'
    .clear
  .row{:style => 'padding-top: 20px'}
    .span1
      %p
    .span10.center
      %b{:style => 'font-size:35px; line-height: 40px; color:#666666'}Awesome! Let's get started with your first goal!
  .row
    .span3
      %p
    .span6
      
      .control-group{error_css(@checkin, :start_focus)}
        %p
          &nbsp
        = f.label :start_focus, "What Is Your Goal This Week?", :style => 'font-size:38px; margin-bottom:40px; margin-top:40px', :maxlength => 255, :class => 'control-label center'
        .controls.center
          = f.text_field :start_focus, :style => 'height: 30px; line-height:24px; font-size:22px', :class => "span4 checkin_start_focus", :placeholder => "Enter your goal here..."
          = f.semantic_errors :start_focus
      .center
        %b Example Goals:
        %p Talk to 5 users
        %p Build Sign Up Process
        %p Close Seed Round
        
      .form-controls.center{:style => 'margin-bottom: 10px; padding-top: 20px; '}
        %p{:style => 'padding-top: 10px'}
          &nbsp
        = f.submit "Set Goal & Enter", :style => 'font-size:50px; line-height:60px', :class => "btn btn-success btn-large submit"
    .span3
      %p