.row
  .right{:style => 'margin-top: 27px'}
    %ul.nav.nav-pills
      %li= link_to "Log out", logout_path, :method => :delete
  .left{:style => 'margin-left: 25px'}= link_to image_tag('nglow.png'), '#'
  .clear

= semantic_form_for @checkin, :url => first_checkins_path, :html => {:class => "form-vertical first_checkin"} do |f|  
  = f.hidden_field :startup_id
  .row{:style => 'padding-top: 20px'}
    .span1
      %p
    .span10.center
      %b{:style => 'font-size:35px; line-height: 40px; color:#25A6E9'} Awesome! Let's get you started!

  .row
    .span1.offset2{:style => 'padding-top:60px'}
      %h1 1)
    .span6
      = render 'startups/checkin_day_and_time_zone', :f => f

  .row
    .span1.offset2{:style => 'padding-top:60px'}
      %h1 2)
    .span6
      .control-group.left{error_css(@checkin, :goal)}
        %p
          &nbsp
        = f.label :goal, "What is your goal for this week?", :style => 'font-size:30px; line-height:45px; padding-top:20px; padding-bottom:25px', :maxlength => 255, :class => 'control-label'
        .controls.center
          = f.text_field :goal, :style => 'height: 30px; line-height:24px; font-size:22px', :class => "span5 checkin_start_focus", :placeholder => "Enter your goal here..."
          = f.semantic_errors :goal
    .span3{:style => 'padding-top:80px'}
      %b Example Goals:
      %p Talk to 5 users
      %p Build Sign Up Process
      %p Close Seed Round
      
  .row
    .span1.offset2{:style => 'padding-top:60px'}
      %h1 3)
    .span6
      .control-group.left
        %p
        = label_tag :message, "Say hello to your group mates :)", :style => 'font-size:30px; line-height:45px; padding-top:40px; padding-bottom:25px', :maxlength => 255, :class => 'control-label'
        .controls.center
          = text_field_tag :message, '', :style => 'height: 30px; line-height:24px; font-size:22px', :class => "span5 checkin_start_focus", :placeholder => "Enter a fun hello message here..."
  
    .span2{:style => 'padding-top:80px'}
      %b Example Hello:
      %p Hi, I am Joe, I am building an online incubator and am really excited to meet you all
      

  .row
    .form-controls.center{:style => 'margin-bottom: 10px; padding-top: 20px; '}
      %p{:style => 'padding-top: 10px'}
        &nbsp
      = f.submit "Set Goal & Say Hi", :style => 'font-size:50px; line-height:60px', :class => "btn btn-success btn-large submit"
