- content_for :subtitle do
  Check-in For Week of #{@checkin.time_label}

-# Show team nav if this is someone else's check-ins
.row
  .span2
    = link_to '<i class="icon icon-chevron-left"></i> All Teams'.html_safe, relationships_path, :class => 'btn btn-large'
    / = link_to '<i class="icon icon-chevron-left"></i> Previous Team'.html_safe, '#', :class => 'btn btn-large'
  .span8{:align => 'center'}
    .inline-block
      %h2= link_to "Team #{@checkin.startup.name}", startup_path(@checkin.startup)
    - @checkin.startup.team_members.each do |tm|
      - next if tm.external_pic_url.blank?
      - title = tm.name + (!tm.twitter.blank? ? " - @#{tm.twitter}" : '')
      .inline-block{:style => 'margin-left: 4px'}= link_to(image_tag(tm.external_pic_url, :title => title, :style => 'width: 50px; height: 50px;'), user_path(tm))
    .clear
    - unless @checkin.startup.one_liner.blank?
      "#{@checkin.startup.one_liner}"
  .span2{:align => 'right'}
    / = link_to 'Next Team <i class="icon icon-chevron-right"></i>'.html_safe, '#', :class => 'btn btn-large'
%hr
%br
.row
  .span12{:align => 'center'}
    %h4
      Week of #{@checkin.time_label} Focus: #{h(@checkin.start_focus)}
.row
  .span6{:style => 'text-align: center', :align => 'right'}
    %div
      %strong BEFORE
    - if @checkin.start_video_url.blank?
      = image_tag('novideo.png')
    - else
      %iframe{:width => 500, :height => 315, :src => Youtube.embed_url(@checkin.start_video_url), :frameborder => 0, :allowfullscreen => true}
  .span6{:style => 'text-align: center;'}
    %div
      %strong AFTER
    - if @checkin.end_video_url.blank?
      = image_tag('novideo.png')
    - else
      %iframe{:width => 500, :height => 315, :src => Youtube.embed_url(@checkin.end_video_url), :frameborder => 0, :allowfullscreen => true}
.row
  .span5{:align => 'right'}
    %p{:style => 'margin-bottom: 0'}
      %small Why?
    %h3= simple_format(h(@checkin.start_why))
  .span2{:align => 'center', :style => 'padding-top: 8px'}
    - if current_user.startup_id == @checkin.startup_id
      / - if @checkin.awesome_count > 0
      /   %br
      /   = pluralize(@checkin.awesome_count, 'awesome')
      &nbsp;
    - elsif @checkin.completed?
      != render_awesome_button(@checkin)
  .span5
    %p{:style => 'margin-bottom: 0'}
      %small Question:
    %h3= simple_format(h(@checkin.end_comments))

.row{:style => 'margin-top: 15px'}
  .span12
    #comments
      = render :partial => 'comments/form', :object => @new_comment
      .list
        = nested_comments @comments