- time ||= nil
- unless time.blank?
  - left = distance_until_time_from_now_arr(time)
  - left = left.map{|d| "%02d" % d }
  #countdown
    .left.number_block
      .numbers.days
        %span= left[0][0,1]
        %span= left[0][1,1]
      %p Days
    .left.number_block
      .numbers.hours
        %span= left[1][0,1]
        %span= left[1][1,1]
      %p Hours
    .left.number_block
      .numbers.minutes
        %span= left[2][0,1]
        %span= left[2][1,1]
      %p Minutes
    .left.number_block
      .numbers.seconds
        %span= left[3][0,1]
        %span= left[3][1,1]
      %p Seconds
    .clear
