.row
  .footer.span12
    %center
      = link_to "Home", home_path
      = link_to "Investors", public_investors_path
      = link_to "Mentors", public_mentors_path
      = link_to "Journalists", public_press_path
      = link_to "nStar", '/d'
      = link_to "Team", team_path
      = link_to 'Blog', "http://blog.nreduce.com"
