.row
  .footer.span12
    %center
      = link_to "Home", home_path
      = link_to "Investors", public_investors_path
      = link_to "Mentors", public_mentors_path
      = link_to "Journalists", public_press_path
      = link_to "nStar", '/d'
      = link_to "Team", team_path
      = link_to 'Blog', "http://blog.nreduce.com"
      - if user_signed_in?
        = link_to 'Tutorial', tutorial_path
    
- if show_background_image?
  .row.center
    %center
      .coworking_location_tab
        = link_to "Working At #{Settings.coworking_locations.uptown_espresso.name}, #{Settings.coworking_locations.uptown_espresso.location}", coworking_location_path, :remote => :true

      #coworking_location_modal