.row
  .footer.span12
    %center
      = link_to "Home", home_path
      = link_to "FAQ", faq_path
      = link_to "nStar", nstar_path
      = link_to "Team", team_path
      = link_to 'Blog', "http://blog.nreduce.com"
