.row
  .footer.span12
    %center
      = link_to "Home", home_path
      = link_to "Blog", 'http://blog.nreduce.com'
      = link_to "nStar", '/nstars'
      = link_to "About Us", team_path
      = link_to "Heart Startups", '/heartstartups'
      = link_to "Terms of Service", '/tos'
      = link_to "Privacy Policy", '/privacy'