- hide_nav ||= false
.nav
  .navbar
    .navbar-inner
      %ul.nav.pull-left
        %li= link_to image_tag('nreduce_logo_45.png'), (@demo_day.present? ? '/d' : "/"), :class => 'logo'
        - if current_user.entrepreneur? && current_user.startup.present?
          %li
            = link_to '<i class="icon icon-user"></i> Add Teams'.html_safe , add_teams_relationships_path
            - unless current_user.unread_nc == 0
              .left.unread_nc
                %span.badge.badge-success= current_user.unread_nc
              .clear
      %ul.nav.pull-right
        - if current_user.entrepreneur? && current_user.startup.present?
          %li{:class => is_controller_action?('relationships', 'index') ? 'active' : ''}= link_to "Work Room", work_room_path    
          %li.dropdown
            %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
              My Profile
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'View Profile', user_path(current_user)
              %li= link_to 'Edit Profile', edit_user_path(current_user)
              - if current_user.admin?
                %li.divider
                %li= link_to "Metrics", admin_metrics_path
                %li= link_to "Admin Tools", "/admin/db"
                %li= link_to "Approve Users", "/admin/users"
                %li= link_to "Mentors", admin_mentors_path
                %li= link_to "Job Queue", "/admin/resque"
          - unless current_user.startup_id.blank?
            %li.dropdown
              %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
                My Startup
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'View Startup', startup_path(current_user.startup)
                %li= link_to 'Edit Startup', edit_startup_path
          %li= link_to "Log out", logout_path, :method => :delete

- if @demo_day && !@home
  .span4.countdown_and_checkin{:align => 'center'}
    - if @demo_day && !@home
      - if @demo_day.in_the_future?
        %p Demo Day Starts In
        = render 'layouts/countdown', :time => @demo_day.starts_at
      - elsif @demo_day.in_the_past? && @next_demo_day
        %p Next #{link_to(@next_demo_day.name, '/d')} starts on
        %h3 #{@next_demo_day.starts_at.strftime('%B %d')} at 11AM PST
      - elsif @demo_day.in_time_window?
        %p
          %strong #{link_to @demo_day.name, @demo_day}
          ends in
        = render 'layouts/countdown', :time => @demo_day.ends_at