- hide_nav ||= false
.nav
  .right
    %ul.nav.nav-pills
      - if user_signed_in?
        - unless hide_nav
          %li.padding{:class => is_controller_action?('relationships', 'index') ? 'active' : ''}= link_to "Home", '/'
          - unless current_user.startup_id.blank?
            %li.padding{:class => is_controller_action?('users', 'chat') ? 'active' : ''}= link_to "Chat", chat_users_path
          %li.dropdown
            %a.dropdown-toggle.btn{:href => '#', 'data-toggle' => 'dropdown'}
              = image_tag(user_avatar_url(current_user))
              %b.caret
              - if 1 == 2 #current_user.unread_nc > 0
                %div{:style => 'margin-top: 5px'}
                  %span.badge.badge-info
                    = pluralize(current_user.unread_nc, 'notification')
            %ul.dropdown-menu
              - unless current_user.startup_id.blank?
                %li= link_to 'My Startup', startup_path(:id => current_user.startup_id)
              %li= link_to 'My Account', user_path(current_user)
              - if 1 == 2
                %li
                  %a{:href => user_notifications_path(current_user)}
                    Notifications
                    %span.badge{:class => current_user.unread_nc > 0 ? 'badge-info' : ''}= current_user.unread_nc
              %li.divider
              - if current_user.meeting_id.blank?
                %li= link_to 'Local Meetings', meetings_path
              - else
                %li= link_to "My Meeting", meeting_path(:id => current_user.meeting_id)
              - if current_user.admin?
                %li= link_to "Admin Tools", "/admin"
                %li= link_to "Jobs", "/resque"
              %li.divider
              %li= link_to "Log out", logout_path, :method => :delete
  .left= link_to image_tag('nreduce_s.png'), "/"
  .clear
  %hr
