- hide_nav ||= false
.nav
  .right
    %ul.nav.nav-pills
      - if user_signed_in?
        - unless hide_nav
          %li{:class => is_controller_action?('relationships', 'index') ? 'active' : ''}= link_to "Dashboard", '/'
          %li{:class => is_controller_action?('users', 'chat') ? 'active' : ''}= link_to "Chat", chat_users_path
          %li{:class => is_controller_action?('startups', 'search') ? 'active' : ''}= link_to "Browse Startups", search_startups_path
          - if !current_user.startup_id.blank?
            %li{:class => is_controller_action?('startups', 'edit') ? 'active' : ''}= link_to "My Startup", edit_startup_path
          %li{:class => is_controller_action?('users', 'edit') ? 'active' : ''}= link_to "Account", edit_user_path(current_user)
          - if current_user.admin?
            %li= link_to "Admin Tools", "/admin"
          %li= link_to "Log out", logout_path, :class => 'btn', :method => :delete
    - if user_signed_in? and !current_user.meeting.blank?
      %div{:style => 'text-align: right'}
        My meeting:
        &nbsp;
        = link_to current_user.meeting.location_name, edit_user_path(current_user)
        %br
        Tue at #{current_user.meeting.start_time}
        - unless current_user.meeting.venue_url.blank?
          |&nbsp;
          = link_to 'Map',  current_user.meeting.venue_url, :target => '_blank'
      .clear
  .left= link_to image_tag('nreduce_s.png'), "/"
  .clear
  %hr
