- hide_nav ||= false
.nav
  .row
    .span2{:style => hide_nav ? '' : 'margin: 31px 0 60px 31px;'}= link_to(image_tag(user_signed_in? && !@setup ? 'nglow.png' : 'nreduce_logo.png'), (@demo_day.present? ? '/d' : "/"))
    - if !hide_nav && user_signed_in? && !@setup && current_user.entrepreneur? && current_user.startup.present? && current_user.startup.account_setup?
      .span2{:style => 'margin: 60px 0 0 0;'}
        .left= link_to '<i class="icon icon-user"></i> Add Teams'.html_safe , add_teams_relationships_path, :class => 'btn add_teams'
        - unless current_user.unread_nc == 0
          .left.unread_nc
            %span.badge.badge-success= current_user.unread_nc
        .clear
    - else
      .span1
        %p
    .span4.countdown_and_checkin{:align => 'center'}
      - if @demo_day && !@home
        - if @demo_day.in_the_future?
          %p Demo Day Starts In
          = render 'layouts/countdown', :time => @demo_day.starts_at
        - elsif @demo_day.in_the_past? && @next_demo_day
          %p Next #{link_to(@next_demo_day.name, '/d')} starts on
          %h3 #{@next_demo_day.starts_at.strftime('%B %d')} at 11AM PST
        - elsif @demo_day.in_time_window?
          %p
            %strong #{link_to @demo_day.name, @demo_day}
            ends in
          = render 'layouts/countdown', :time => @demo_day.ends_at
      - elsif !hide_nav && @weekly_class.blank? && user_signed_in? && current_user.entrepreneur? && current_user.startup_id.present?
        = render 'startups/countdown_and_checkin', :startup => current_user.startup
      - else
        &nbsp;
    .span3
      .right
        %ul.nav.nav-pills{:style => hide_nav ? '' : 'margin: 50px -170px 60px 0px;'}
          - if user_signed_in?
            - if hide_nav
              %li= link_to "Log out", logout_path, :method => :delete
            - else
              - unless @setup
                - if current_user.entrepreneur?
                  %li.main.padding{:class => is_controller_action?('relationships', 'index') ? 'active' : ''}= link_to "Work Room", work_room_path
                - if can? :see_ratings_page, current_user
                  %li.main.padding{:class => is_controller_action?('ratings', 'index') ? 'active' : ''}= link_to "Board Room", board_room_path
              %li.dropdown
                %a.dropdown-toggle.btn{:href => '#', 'data-toggle' => 'dropdown'}
                  = image_tag(user_avatar_url(current_user))
                  %b.caret
                  - if 1 == 2 #current_user.unread_nc > 0
                    %div{:style => 'margin-top: 5px'}
                      %span.badge.badge-info
                        = pluralize(current_user.unread_nc, 'notification')
                %ul.dropdown-menu
                  - unless current_user.startup_id.blank?
                    %li= link_to 'My Startup', startup_path(current_user.startup)
                  %li= link_to 'My Profile', user_path(current_user)
                  - if current_user.entrepreneur?
                    - if current_user.meeting_id.blank?
                      %li= link_to 'Local Meetings', meetings_path
                    - else
                      %li= link_to "My Meeting", meeting_path(:id => current_user.meeting_id)
                  - if 1 == 2
                    %li
                      %a{:href => user_notifications_path(current_user)}
                        Notifications
                        %span.badge{:class => current_user.unread_nc > 0 ? 'badge-info' : ''}= current_user.unread_nc
                  %li.divider
                  - unless current_user.startup_id.blank?
                    %li= link_to 'Edit Startup', edit_startup_path
                  %li= link_to 'Edit Profile', edit_user_path(current_user)
                  - if current_user.admin?
                    %li.divider
                    %li= link_to "Metrics", admin_metrics_path
                    %li= link_to "Admin Tools", "/admin/db"
                    %li= link_to "Approve Users", "/admin/users"
                    %li= link_to "Mentors", admin_mentors_path
                    %li= link_to "Job Queue", "/admin/resque"
                  %li.divider
                  %li= link_to "Log out", logout_path, :method => :delete
          - else
            - unless @demo_day && user_signed_in?
              %li= link_to "Join", sign_up_path
            %li= link_to "Login", login_path
      / - if @demo_day && !user_signed_in?
      /   .right{:style => 'margin-right: 20px'}= link_to 'Founders Join', sign_up_path, :class => 'btn btn-large btn-success'
      .clear
