!!!
%html(lang="en")
  %head{:profile => "http://www.w3.org/2005/10/profile"}
    %meta(charset="utf-8")
    %title
      nReduce: online startup incubator
      = "| #{content_for(:subtitle)}" if content_for?(:subtitle)
    %link{:rel => 'icon', :href => 'http://assets.nreduce.com/images/favicon.ico'}
    -# add some fonts
    :plain
      <script type="text/javascript" src="http://use.typekit.com/jlr1ide.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -# end fonts
    = stylesheet_link_tag(:application, :media => "all")
    = javascript_include_tag(:application)

    - if @tokbox
      = javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js"

    - if @vimeo_js
      = javascript_include_tag 'http://a.vimeocdn.com/js/froogaloop2.min.js'

    = raw content_for(:head)
    = js_settings
    = csrf_meta_tags
  %body
    .wrapper{:class => user_signed_in? ? 'logged_in' : 'logged_out'}
      .container
        - unless @onboard
          .header
            - if user_signed_in?
              - unless @hide_nav == true
                = render 'layouts/logged_in_nav'
            - else
              = render 'layouts/logged_out_nav'
        .body
          = render "layouts/flash_messages"
          = yield
        - unless @hide_footer
          = render "layouts/footer"

      -# Olark collides with Screen code so can't include it if we're recording video.
      - unless @recording_video
        :plain
          <!-- begin olark code --><script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
          window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
          olark.identify('9501-964-10-6617');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/9501-964-10-6617/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript><!-- end olark code -->

      :plain
        <!-- Google analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31585667-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

      #ciao.modal.hide
        .modal-header
          %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
          %h2 Warning: you are about to leave nReduce
        .modal-body
          %center
            %h3 Your identity may no longer be anonymous.
            %h3 Are you sure you want to continue?
            %br/
            = link_to 'Continue', '#', :class => 'btn btn-large btn-success', :id => 'ciao_link'
            %br/
            %br/
            %br/
            = link_to 'Cancel', '#', :onclick => "$('#ciao').modal('hide'); return false;", :class => 'btn'

      - if @force_checkin && @checkin.present? && @checkin.startup_id.present?
        = render 'checkins/goal_modal'