!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title
      nReduce S12
      = "➝ #{content_for(:subtitle)}" if content_for?(:subtitle)

    -# add some fonts
    :plain
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600' rel='stylesheet' type='text/css'>

    -#
    = stylesheet_link_tag(:application, :media => "all")
    = javascript_include_tag(:application)

    = raw content_for(:head)
    = js_settings
    = csrf_meta_tags

  %body{body_attrs}

    = render "layouts/flash_messages"
    .container
      = yield
    = content_for :modals
