.row.onboard
  .row.center{:style => 'padding-top:20px; padding-bottom:100px'}
    %h1{:style => 'font-size:50px'} How Can nReduce Help Your Startup?
  .row
    .span2{:style => 'padding-top:20px; padding-bottom:40px'}
      %p/
    .span8
      %b{:style => 'font-size:25px'} 1) You get weekly feedback from fellow startup founders.
    .span2   
  .row
    .span2
      %p
    .span8
      .center= image_tag 'helpfromfounders.png'
    .span2
      %p
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 2) You get advice from The Awesome nReduce Mentors!
    .span2   
  .row
    .span2
      %p
    .span8
      .center= image_tag 'mentors.jpg'
    .span2
      %p
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 3) You can compete to be featured in an Online Demo Day. 
    .span2   
  .row
    .span2
      %p
    .span8
      .center= image_tag 'investors.png'
    .span2
      %p/
  .row{:style => 'padding-top:80px; padding-bottom:40px'}
    .span2
      %p/
    .span8
      %b{:style => 'font-size:25px'} 4) You rely on proven productivity mentods to keep you focused.
    .span2   
  .row
    .span2
      %p
    .span8
      .center= image_tag 'weekbig.png'
    .span2
      %p/
  .row.center{:style => 'padding-top:100px; padding-bottom: 20px'}
    %h1{:style => 'font-size:50px'} Ready to Join?
  .row.center{:style => 'padding-top: 40px; padding-bottom:50px'}
    %h1= link_to "#{image_tag('linkedinw.png')} Join Now".html_safe, '#', :class => "btn btn-success btn-large", :title => 'Join Now', :style => 'font-size: 80px; line-height'
 